<div class="tabcontent">
  <h1>How to Play</h1>
  <p class="ng-binding">Keno is one of the most popular lottery games played in modern casinos. <b class="ng-binding">BetCoin ™ Keno</b> allows you to wager with the digital currency Bitcoin. It is an easy and fun way to play with and win more Bitcoins!</p>

  <p>There are 80 possible numbers out of which 20 are drawn. The object of the game is to correctly guess as many drawn numbers as possible. A player can guess up to 8 numbers per game. The more numbers guessed correctly in a single game the higher the payout.</p>
  <br>
  <ol class="padding-left-40">
    <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box.  The maximum wager value is adjusted dynamically.</li>
    <br>
    <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and Recent draws tabs located below the playing screen.</li>
    <br>
    <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
    <br>
  </ol>
  <div class="row how-to-play-tables">
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 1 choice</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>3</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 2 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>12</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 3 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>42</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 4 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>130</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 5 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>3</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>15</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>700</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 6 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>3</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>85</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>2000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 7 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>4</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>30</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>300</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>5000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>Payouts for 8 choices</h4>
          <table>
              <tbody>
              <tr>
                  <th>Matches</th>
                  <th>Payout</th>
              </tr>
              <tr>
                  <td>5</td>
                  <td>5</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>100</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>1500</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>30000</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>

  <h4 class="ng-binding">The expected return to player (RTP) for BetCoin ™ keno is 60.5%</h4>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the source code of the provably fair algorithm.</a></p>

  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
