<div class="tabcontent">
  <h1>如何游戏</h1>
  <p class="ng-binding"><b>财神基諾™</b> 是其中一个最流行的抽奖游戏，允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>

  <p>游戏中有80个选项，其中20个会被选出。游戏的目的在于尽量多的猜中其中的号码。玩家在每个游戏中可以最高猜8个数字。猜中越多，奖金越高。</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或则用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>
  <div class="row how-to-play-tables">
      <div class="col-xs-3 col-md-2">
          <h4>一个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>3</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>两个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>12</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>三个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>42</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>四个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>2</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>130</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>五个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>3</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>15</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>700</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>六个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>3</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>85</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>2000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>七个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>4</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>30</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>300</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>5000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>八个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>5</td>
                  <td>5</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>100</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>1500</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>30000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <!--
      <div class="col-xs-3 col-md-2">
          <h4>九个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>5</td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>30</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>400</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>4000</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>40000</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-3 col-md-2">
          <h4>十个选项赔率</h4>
          <table>
              <tbody>
              <tr>
                  <th>配对次数</th>
                  <th>赔率</th>
              </tr>
              <tr>
                  <td>5</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>10</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>100</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>1000</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>5000</td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>1000000</td>
              </tr>
              </tbody>
          </table>
      </div>
      -->
  </div>

  <h4 class="ng-binding">财神基諾™ 的玩家回报率是多少？</h4>
  <h4 class="ng-binding">玩家回报率是 90.5%</h4>
  <h4 class="ng-binding">每盘游戏有没有最低赌注限制？</h4>
  <p class="ng-binding">最低赌注为0.000001 个比特币</p><p></p>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>
  <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
