<div class="tabcontent howtoplay">
<h1>麻将游戏规则</h1>

<p class="ng-binding"><b class="ng-binding">财神将™ 麻将</b> 是最古老的博彩游戏之一即麻将的的比特币版，要玩比特币麻将您可以使用数字货币比特币下注，在这简单有趣的过程中赢得更多比特币！</p>
<br>
<ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登录或注册</b>，或者直接使用您的比特币钱包地址匿名参与。
    </li>
    <br>
    <li class="ng-binding"><b class="ng-binding">使用</b>我们提供给您的个人存款地址来向您的账户充值。
    </li>
    <br>
    <li class="ng-binding"><b class="ng-binding">使用滚动条</b>、百分比按钮、增减按钮或者直接下注栏，选择下注的金额。最大下注金额是游戏动态调整的。
    </li>
    <br>
    <li class="ng-binding">您可以使用游戏界面下方的积分榜和游戏记录来查看您和来自世界各地的玩家的记录。
    </li>
    <br>
    <li class="ng-binding">如果您是匿名参与的，您的余额将会在账户闲置后30分钟内，或在您关闭浏览器时返还到您的比特币钱包。
    </li>
    <br>
</ol>

<!-- <h4>Pay Table</h4>

<div data-ng-include data-src="'tpl/paytables.html'"></div> -->

<h2>麻将游戏</h2>
<h5>阅读 <a href="http://en.wikipedia.org/wiki/Mahjong">Wikipedia</a></h5>
<h3>规则</h3>
<p>玩家轮流从牌墙中抓一张牌，同时丢弃一张手牌到牌桌中央。如果您愿意，也可以同时喊出弃牌的牌面。如此继续，直到某个玩家胡牌并出示自己的所有手牌。另外，以下四种方式可以中断这样的游戏顺序。</p>
<p>游戏过程中，每位玩家的手牌数量必须一直是十三张（也就是说每一轮都要抓一张牌并丢弃一张手牌）。这十三张牌不包括摆在手牌一边的花牌和四张一起的杠牌。如果某位玩家的手牌数量多于或少于十三张，就要受到惩罚。</p>
<h4>胡牌</h4>
<p>胡牌需要十四张牌（包括十三张手牌和一张刚从牌墙中抓到或者从别的玩家的弃牌中获得的牌）。前一种情况称为“自摸”，第二种情况称为“点胡”。</p>
<p>胡牌的牌面组合为四组牌（三张牌的特定组合）和一对牌（两张牌面相同的牌）。上述胡牌规则之外的特殊情况将在后面介绍。</p>
<p>胡牌时必须要达到一个最小的番数（三）。</p>
<h4>组牌类型：</h4>
<ol>
    <li><p>
        <b>“碰”</b>是指三张牌面相同的牌。比如：<br/>
        <card data-card="{val:17}"></card>
        <card data-card="{val:17}"></card>
        <card data-card="{val:17}"></card><br/>
        <card data-card="{val:20}"></card>
        <card data-card="{val:20}"></card>
        <card data-card="{val:20}"></card><br/>
    </p><p>
        您可以使用任一张牌组合出“碰”（除了花牌外，因为它们是额外的牌，抓出来后应放在一边）。三张牌面必须相同（不要混淆花色）。
    </p></li>
    <li><p>
        <b>“杠”</b>是指四张牌面相同的牌。比如：<br/>
        <card data-card="{val:31}"></card>
        <card data-card="{val:31}"></card>
        <card data-card="{val:31}"></card>
        <card data-card="{val:31}"></card><br/>
        <card data-card="{val:24}"></card>
        <card data-card="{val:24}"></card>
        <card data-card="{val:24}"></card>
        <card data-card="{val:24}"></card><br/>
    </p><p>
        在“碰”的基础上再添一张牌从而形成“杠”。有三种组成“杠”的方式：
    </p><p>
        <ul>
            <li><p>
                在“碰”的基础上再添一张牌从而形成“杠”。
            </p></li>
            <li><p>
                如果玩家手中有三张同样的牌，这时别人又打出了另一张相同的弃牌，他/她就可以拿走别人打出的弃牌，从而形成“杠”。这时这位玩家需要出示手中三张牌，并把拿走的弃牌放在中间那张牌的上方。
            </p></li>
            <li><p>
                如果玩家已经通过“碰牌”的方式，从别人的弃牌中拿回一张牌并组合成了一个“碰”，而之后又从牌墙中抓出了第四张同样的牌，他/她就可以把第四张牌放在原来“碰牌”中间的上方，并宣告获得了一个“杠”（可以立即宣告，也可以后来再说）。但是，玩家不能从其他人的弃牌中获得“碰”的第四张牌以组合成“杠”。
            </p></li>
        </ul>
        </p><p>
            在任何情况下，如果形成了一个“杠”，玩家必须从牌墙的末尾再抓一张额外的牌，并丢弃一张手牌。“杠”的第四张牌（同时也不应是花牌）不被当做玩家的十三张手牌之一。“杠”非常重要，一方面可以获得更多的番数，另一方面也能阻止对手获得这张牌。
        </p></li>
    <li><p>
        <b>“吃”</b>是三张顺序排列的牌。比如： <br/>
        <card data-card="{val:18}"></card>
        <card data-card="{val:19}"></card>
        <card data-card="{val:20}"></card><br/>
        <card data-card="{val:20}"></card>
        <card data-card="{val:21}"></card>
        <card data-card="{val:22}"></card><br/>
    </p><p>
        “吃”的组合必须绝对符合数字顺序。不能跳过某个数字，也不能从9转回到1。组合的牌面花色必须一致。字牌、花牌不能组成“吃”。玩家可以从他/她前面的那位玩家获得弃牌以组成“吃”，但是优先级低于其他玩家的“碰”、“杠”或者胡牌。
    </p></li>
    <li><p>
        <b>对牌</b>是两张相同的牌。对牌是胡牌必不可少的一部分。玩家不能从其他人的弃牌中组成对牌，除非这时他/她已经可以通过这张牌胡牌了。比如：
        <card data-card="{val:30}"></card>
        <card data-card="{val:30}"></card><br/>
        <card data-card="{val:22}"></card>
        <card data-card="{val:22}"></card><br/>
    </p></li>
</ol>
<h4>花牌</h4>
<p>玩家抓到花牌后，必须告诉其他玩家，然后把花牌放在手牌旁边（花牌不是手牌的一部分，但是如果最后能胡牌，花牌可以有额外的番数），再从牌墙的最后抓一张牌，作为刚才花牌的替代，这样玩家就有了十四张手牌，然后再打掉一张弃牌。</p>
<h4>从其他玩家的弃牌中获得组牌</h4>
<p>当某个玩家丢弃了一张手牌时，任意其他玩家都可以拿走这张牌并形成一组牌。这有两个好处（可以尽快胡牌，并获得额外番数），但也有坏处，比如把手牌的一部分暴露了出来，而且一旦形成就不能改变组牌了。</p>
<p>如果组牌（“碰”、“杠”、“吃”）是从弃牌中组合出的，玩家必须牌面朝上公开这些牌。接着玩家必须丢弃一张手牌，然后游戏从右边的玩家处继续。这样的话，如果获得弃牌的玩家不是紧接着打出弃牌的玩家，那中间有一位或两位玩家就必须要错过这一轮了，因为游戏是从形成组牌的玩家后面继续的。</p>
<p>如果有两位或多位玩家想拿走弃牌，通过弃牌可以胡牌的玩家最为优先。其次，形成“碰”的玩家要优先于形成“吃”的玩家。</p>
<h4>胡牌</h4>
<p>如果某位玩家可以通过其他玩家的弃牌完成胡牌（而且达到了最低番数），他/她可以喊出“麻将”，拿走弃牌并出示手牌。这一轮游戏就结束了，然后开始计分。如果两个或三个玩家可以通过这张弃牌完成胡牌，有两种方式解决争端（取决于牌桌上约定的规则）：看哪位玩家的番数更高，或者看哪位玩家在抓牌的顺序上更接近于弃牌的玩家。</p>
<h4>抢杠</h4>
<p>麻将中有一种少见但可以获得高分的方式，叫做“抢杠”。如果某位玩家形成了“杠”（可以是直接从手牌中组成的，也可以是从已有的“碰”上添加第四张牌组成的，或者可以是“暗杠”），而另一位玩家通过这张牌可以完成胡牌（逻辑上来说，这个胡牌肯定不是通过“碰”或“杠”，因为两个玩家不可能从相同的牌上形成“碰”），这样后者就可以拿走这张本来形成“杠”的牌，并完成胡牌。</p>
<h3>计分</h3>
<h4>基本番数</h4>
<p>胡牌必须要达到约定的最小番数（三）。</p>
<table>
    <tbody><tr>
        <td>条目</td>
        <td>番数</td>
    </tr>
    <tr>
        <td>箭牌组成的“碰”或“杠”</td>
        <td>1</td>
    </tr>
    <tr>
        <td>风牌组成的“碰”或“杠”</td>
        <td>1</td>
    </tr>
    <tr>
        <td>全是数字牌</td>
        <td>1</td>
    </tr>
    <tr>
        <td>全是“吃”和一对数字牌</td>
        <td>多加1分</td>
    </tr>
    <tr>
        <td>全是“碰”或“杠”和一对牌</td>
        <td>3</td>
    </tr>
    <tr>
        <td>全是条牌和一对字牌，或者全是饼牌和一对字牌，或者全是万牌和一对字牌</td>
        <td>3</td>
    </tr>
    <tr>
        <td>三个隐藏的“碰”或“杠”</td>
        <td>3</td>
    </tr>
    <tr>
        <td>三个“杠”</td>
        <td>3</td>
    </tr>
    <tr>
        <td>七对牌（特殊组合）</td>
        <td>4</td>
    </tr>
    <tr>
        <td>清一色（只有一种花色并且没有字牌：纯饼牌、纯条牌或纯万牌）</td>
        <td>6</td>
    </tr>
    <tr>
        <td>小龙（包含两个箭牌的碰和另外一对箭牌）</td>
        <td>12</td>
    </tr>
    <tr>
        <td>小风（三个风牌的“碰”和另外一对风牌</td>
        <td>12</td>
    </tr>
    </tbody></table><br/>
<table><tbody>
<tr>
    <td>自摸</td>
    <td>1</td>
</tr>
<tr>
    <td>抢杠</td>
    <td>1</td>
</tr>
<tr>
    <td>通过牌墙中最后一张牌或这之后的下一张弃牌胡牌</td>
    <td>1</td>
</tr>
</tbody></table>

<h4>额外番数</h4>
<table>
    <tbody><tr>
        <th>条目</th>
        <th>番数</th>
    </tr>
    <tr>
        <td>没有花牌</td>
        <td>1</td>
    </tr>
    <tr>
        <td>自家花牌（座次对应的花牌）</td>
        <td>1</td>
    </tr>
    <tr>
        <td>自家季节牌（座次对应的季节牌）</td>
        <td>1</td>
    </tr>
    <tr>
        <td>所有四种花牌</td>
        <td>额外4点</td>
    </tr>
    <tr>
        <td>所有四种季节牌</td>
        <td>额外4点</td>
    </tr>
    <tr>
        <td>所有八种花牌和季节牌（极其少见）</td>
        <td>直接获胜并获得最大额奖励</td>
    </tr>
    </tbody></table>
<p>玩家有自家花牌或季节牌（东=1、南=2、西=3、北=4）或者玩家有四种花牌或季节牌时，可以获得额外的一点番数（后一种情况总共五点番数）。</p>
<h4>奖金</h4>
<p>手中番数需要转换为基准点数，用于计算输家付给赢家的奖金。</p>
<table>
    <tbody><tr>
        <th>番数</th>
        <th>基准奖金</th>
    </tr>
    <tr>
        <td>3</td>
        <td>1</td>
    </tr>
    <tr>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>5</td>
        <td>2</td>
    </tr>
    <tr>
        <td>6</td>
        <td>2</td>
    </tr>
    <tr>
        <td>7</td>
        <td>2</td>
    </tr>
    <tr>
        <td>8</td>
        <td>4</td>
    </tr>
    <tr>
        <td>9</td>
        <td>4</td>
    </tr>
    <tr>
        <td>10</td>
        <td>8</td>
    </tr>
    <tr>
        <td>11</td>
        <td>8</td>
    </tr>
    <tr>
        <td>12+</td>
        <td>16</td>
    </tr>
    </tbody></table>
<p>如果一个玩家有三点番数，他就有一点基准点数。胡牌时的九点番数值四点基本点数。基本点数在以下情况下翻番（如果符合两种情况，基准奖金则翻番再翻番）：</p>
<ul>
    <li><p>
        玩家通过自摸胡牌，奖金翻番
    </p></li>
    <li><p>
        玩家通点胡胡牌，弃牌的玩家付给胡牌的玩家的奖金翻番
    </p></li>
    <li><p>
        坐东面的赢家可以收取其他玩家两倍的奖金。同时，坐东面的输家也需要付给赢家两倍的奖金。
    </p></li>
</ul>

<h4 class="ng-binding">有每轮最大下注额吗？</h4>

<p class="ng-binding">最大下注额是您余额的1/64。</p>

<h4 class="ng-binding">有每轮最小下注额吗？</h4>

<p class="ng-binding">最小下注额是0.000001比特币。</p>

<p></p>

<div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

<provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

<p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>
<!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


<div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
