<div class="tabcontent">
  <h1>游戏说明</h1>
  <p class="ng-binding"><b class="ng-binding">财神掷™ </b> 是一个经典的卡斯诺游戏，允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或者用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>

<!-- <h4>Pay Table</h4>

<div data-ng-include data-src="'tpl/paytables.html'"></div> -->

  <h4>玩财神掷™</h4>
  <ol>
  <li><p>
  财神掷™ 是一个简单的投硬币游戏，让玩家猜硬币是头、还是尾着地。
  </p></li>
  <li><p>
    玩家可以选择同时猜一个或者两个硬币。
  </p></li>
  <li><p>
    但玩家选择一次猜一个硬币时，他们需要猜硬币是头、还是尾着地。
  </p></li>
  </ol>
  <h4>赔率</h4>
  <table class="table">
    <thead><tr><th>硬币个数</th><th>赔率</th></tr></thead>
    <tbody>
      <tr><td>一个硬币</td><td>1.967倍</td></tr>
      <tr><td>两个硬币</td><td>3.934倍</td></tr>
    </tbody>
  </table>
  <h4 class="ng-binding">财神掷™的玩家回报率是多少？</h4>
  <p class="ng-binding">玩家回报率是98.35%</p>

  <h4 class="ng-binding">每盘游戏有没有最低赌注限制？</h4>
  <p class="ng-binding">最低赌注为0.000001 个比特币</p><p></p>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>
  <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
