<form role="form" class="form" name="loginForm">
    <div class="form-group" ng-show="loginAddress == null && !requireOneTimePass">
        <label for="" class="control-label"><%= text.enterusername %></label>
        <input type="text" autocorrect="off" autocapitalize="off" class="form-control" ng-model="loginAlias" ng-required="loginAddress==null" />
    </div>
    <div class="form-group" ng-show="loginAddress != null && !requireOneTimePass">
        <label for="" class="control-label"><%= text.enteraddress %></label>
        <input type="text" autocorrect="off" autocapitalize="off" class="form-control" ng-model="loginAddress" ng-required="loginAddress!=null" />
    </div>
    <div class="form-group" ng-show="!requireOneTimePass">
        <label for="" class="control-label"><%= text.enterpassword %></label>
        <input name="password" type="password" class="form-control" ng-model="loginPassword" ng-required="!requireOneTimePass"/>
    </div>
    <div class="form-group" ng-show="requireOneTimePass">
        <label for="" class="control-label"><%= text.one_time_pass %></label>
        <input name="one-time-pass" type="text" class="form-control" ng-model="oneTimePass" ng-required="requireOneTimePass"/>
    </div>
    <div class="form-group">
        <button ng-click="login()" class="btn btn-primary btn-lg btn-block" ng-disabled="loginForm.$invalid" bc-popover="{{error != null}}" bc-popover-direction="top"><%= buttons.login %></button>
        <div class="errors hide">
            <span class="error">{{error|error}}</span>
        </div>
        <a href="/signup" class="btn btn-primary btn-lg btn-block" ng-show="!requireOneTimePass"><%= buttons.create_new_account%></a>
        <a href="/password/reset" class="btn btn-primary btn-lg btn-block" ng-show="!requireOneTimePass"><%= buttons.password_reset%></a>
    </div>
</form>
