<!DOCTYPE html>
<html lang="<%= locale.lang %>" ng-app>
	<head>
		<title><%= meta.title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="<%= meta.description %>">
		<meta name="keywords" content="<%= meta.keywords %>" />
		<meta charset="utf-8"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="fragment" content="!">

		<link rel="shortcut icon" href="/__common/img/favicons/circle.ico" type="image/x-icon">
		<link href="/__common/style.min.css" rel="stylesheet">
	</head>
	<body ng-view>
		<script src="/__common/script.min.js"></script>
	</body>
</html>
