<div class="tabcontent">
  <h1>游戏说明</h1>
  <p class="ng-binding"><b class="ng-binding">财神九™扑克</b> 是一个经典的扑克游戏，允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或者用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>

<!-- <h4>Pay Table</h4>

<div data-ng-include data-src="'tpl/paytables.html'"></div> -->

  <h4>玩财神九™扑克</h4>
  <ol>
  <li><p>
  游戏会使用一副53张牌的扑克，包含52张常用牌，加上一张小丑牌。
  </p></li>
  <li><p>
  小丑可以被当作其它牌来使用。可以当作A，或者其它牌来完成顺子，同花，同花顺，大同花顺的组合。在玩家下注之后，庄家会各发7张牌牌给玩家和自己。
  </p></li>
  <li><p>
  玩家需要手上的牌分成5张高牌，和两张低牌。高牌的组合需要大于低牌低组合。
  </p></li>
  <li><p>
  高牌会根据传统的扑克规则决定大小。低牌会是一对或无对。
  </p></li>
  <li><p>
  在玩家完成分牌后，庄家会根据庄家规则来切分他手上的牌，并翻开手上的牌。
  </p></li>
  <li><p>
    玩家可以选择用庄家规则进行自动分牌。
  </p></li>
  <li><p>
   庄家、玩家的高牌和低牌会分别进行大小对比，大的一方赢。如果庄家和玩家的高牌或低牌的大小相同，那么那一手高、低牌算庄家赢。
  </p></li>
  <li><p>
  如果玩家同时赢得高低牌，玩家赢得双倍的赔率。如果玩家各输赢一手，那么打成平局。如果玩家两手都输了，玩家会输掉下注。
  </p></li>
  </ol>
  <h4 class="ng-binding">财神九™扑克 的回报率是多少？</h4>
  <p class="ng-binding">玩家回报率为 98.54%</p>

  <h4 class="ng-binding">每盘游戏有没有最低赌注限制？</h4>
  <p class="ng-binding">最低赌注为0.000001 个比特币</p><p></p>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>
  <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->
  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
