<div class="tabcontent">
    <h1>How to Play</h1>
    <p class="ng-binding"><b class="ng-binding">BetCoin ™ Fan Tan</b> is one of the oldest and most famous casino games. that allows you to wager with the digital currency Bitcoin. It is an easy and fun way to play with and win more Bitcoins!</p>

    <p>The dealer flip three dices. The object of the game is to correctly guess the result of the combination of three dices.</p>
    <br>
    <ol class="padding-left-40">
        <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box. The maximum wager value is adjusted dynamically.</li>
        <br>
        <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and Recent Spins tabs located below the playing screen.</li>
        <br>
        <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
        <br>
    </ol>
    <h4>Payouts</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Bet</th>
                <th>Payout Odds</th>
            </tr>
            <tr>
                <td>Big/Small</td>
                <td>1 to 1</td>
            </tr>
            <tr>
                <td>Single Dice</td>
                <td>1 to 1</td>
            </tr>
            <tr>
                <td>Two occurance of Single Dice</td>
                <td>2 to 1</td>
            </tr>
            <tr>
                <td>Three occurance of Single Dice</td>
                <td>3 to 1</td>
            </tr>
            <tr>
                <td>Two Dices Combination</td>
                <td>6 to 1</td>
            </tr>
            <tr>
                <td>Any Triples</td>
                <td>30 to 1</td>
            </tr>
            <tr>
                <td>Three Dices Combination</td>
                <td>180 to 1</td>
            </tr>
            <tr>
                <td>Double</td>
                <td>11 to 1</td>
            </tr>
            <tr>
                <td>4/17 Total Score</td>
                <td>60 to 1</td>
            </tr>
            <tr>
                <td>5/16 Total Score</td>
                <td>20 to 1</td>
            </tr>
            <tr>
                <td>6/15 Total Score</td>
                <td>18 to 1</td>
            </tr>
            <tr>
                <td>7/14 Total Score</td>
                <td>12 to 1</td>
            </tr>
            <tr>
                <td>8/13 Total Score</td>
                <td>8 to 1</td>
            </tr>
            <tr>
                <td>9/10/11/12 Total Score</td>
                <td>6 to 1</td>
            </tr>
        </tbody>
    </table>
    <h4>House Edges</h4>
    <table class="table">
      <tbody>
            <tr>
                <th>Bet</th>
                <th>House Edge</th>
            </tr>
            <tr>
                <td>Big/Small</td>
                <td>2.8%</td>
            </tr>
            <tr>
                <td>Single Dice</td>
                <td>7.9%</td>
            </tr>
            <tr>
                <td>Two Dices Combination</td>
                <td>16.7%</td>
            </tr>
            <tr>
                <td>Any Triples</td>
                <td>30.6</td>
            </tr>
            <tr>
                <td>Three Dices Combination</td>
                <td>30.1%</td>
            </tr>
            <tr>
                <td>Double</td>
                <td>33.3%</td>
            </tr>
            <tr>
                <td>4/17 Total Score</td>
                <td>29.2%</td>
            </tr>
            <tr>
                <td>5/16 Total Score</td>
                <td>47.2%</td>
            </tr>
            <tr>
                <td>6/15 Total Score</td>
                <td>30.6%</td>
            </tr>
            <tr>
                <td>7/14 Total Score</td>
                <td>9.7%</td>
            </tr>
            <tr>
                <td>8/13 Total Score</td>
                <td>19%</td>
            </tr>
            <tr>
                <td>9/12 Total Score</td>
                <td>12.5%</td>
            </tr>
        </tbody>
    </table>

    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the source code of the provably fair algorithm.</a>
    </p>

    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
