<div>
    <div class="row">
        <form class="col-md-4 col-md-offset-8" ng-submit="loadPlayer()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="playerId" placeholder="address or alias">
                <p class="help-block">You can use a deposit or withdraw BTC address, or a player alias</p>
            </div>
            <input type="submit" class="form-control" value="Search">
            <button class="btn btn-default" ng-show="playerId.length" ng-click="showList()">Show List</button>
        </form>
    </div>
    <div ng-show="loadingList" style="text-align: center;" class="panel col-md-12"><h4>Loading Player List</h4></div>
    <div class="row" ng-hide="playerId.length || loadingList">
        <table class="col-md-12 table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Bets</th>
                    <th>Deposited</th>
                    <th>Returned</th>
                    <th>Wagered</th>
                    <th>Won</th>
                    <th>Player Profit</th>
                    <th>Edgs vs House</th>
                    <th>Last Bet</th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" ng-repeat="player in recentPlayers" ng-click="loadPlayer(player._id)">
                    <td>{{ player._id }}</td>
                    <td>{{ player.bets }}</td>
                    <td>{{ player.deposited | btc:true }}</td>
                    <td>{{ player.returned | btc:true }}</td>
                    <td>{{ player.wagered | btc:true }}</td>
                    <td>{{ player.won | btc:true }}</td>
                    <td>{{ player.playerProfit | btc:true }}</td>
                    <td>{{ player.edgevshouse * 100 | number:6 }}%</td>
                    <td>{{ player.lastbet | date:'yyyy-MM-dd @ hh:mm:ss a' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
