<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><%= text.new_ticket_title %></h3>
            <p>
            <%= text.new_ticket_help %></p>
            <p>
            <strong><%= text.new_ticket_note %></strong></p>
        </div>
    </div>
    <div class="panel panel-default main-container">
        <div class="panel-heading"><%= text.new_ticket_header %></div>
        <div class="panel-footer">
            <div ng-include src="'tpl/support/supportform.html'"></div>			
        </div>
    </div>
</div>
