<div>
    <div id="modal-{{ game.id || game._id }}" class="game-proof">
        <h3><%= spins.ProofHeader1 %></h3>

        <table class="table">
            <caption><%= text.all_bets_this_game %></caption>
            <thead>
                <tr>
                    <th><%=username%></th>
                    <th><%= spins.ProofDt4 %></th>
                    <th><%= spins.ProofDt1 %></th>
                    <th><%= spins.total_wagered %></th>
                    <th><%= text.tickets %></th>
                    <th><%= spins.CircleTh7 %></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bet in bets">
                    <td>{{bet.player_alias}}</td>
                    <td><input class="input" type="text" ng-model="bet.client_seed" /></td>
                    <td>{{bet.server_seed}}</td>
                    <td>{{bet.wager| cryptovalue}}</td>
                    <td>{{bet.wager/1000}}</td>
                    <td>{{bet.createdAt|date:"MM/dd HH:mm:ss"}}</td>
                </tr>
            </tbody>
        </table>

        <dl class="dl-horizontal">
            <dt style="width: 100px">
            <%= spins.CircleTh1 %></dt><dd style="margin-left: 120px">{{ game.id || game._id }}
            </dd>
            <dt  style="width: 100px">
            <%= text.winner %></dt><dd style="margin-left: 120px">{{ game.player_alias }}
            </dd>
            <dt style="width: 100px">
            <%= spins.CircleTh5 %></dt><dd style="margin-left: 120px">{{ game.jackpot | cryptovalue }}
            </dd>
            <dt style="width: 100px">
            <%= spins.CircleTh7 %></dt><dd style="margin-left: 120px">{{ game.end | date:"MM/dd HH:mm:ss" }}
            </dd>
            <dt style="width: 100px"><%= spins.ProofDt1 %></dt>
            <dd style="margin-left: 120px">{{ game.server_seed }}</dd>
            <dt style="width: 100px"><%= spins.ProofDt3 %></dt>
            <dd style="margin-left: 120px">{{ game.seed_hash }}</dd>
        </dl>

        <provably-fair server-seed="{{game.server_seed}}" ticket-price="{{game.ticket_price}}" bets="bets"></provably-fair>
    </div>

    <button class="btn btn-default btn-lg" ng-click="backToList()">Back To List</button>

</div>

