<div class="tabcontent">
  <h1>游戏说明</h1>
  <p class="ng-binding"><b>财神奖™</b>是一个流行的彩票游戏即网上彩票的比特币版，比特币彩票允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或则用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>

<h4>每张抽奖券需要 0.00001 额度。抽奖最终奖金是总将下注额度的 88%</h4>
    <br />
    <ul>
      <li>抽奖: 5-分钟 铜杯, 1-小时 银杯, 8-小时 金杯, 1-天 白金杯, 8-天 钻石杯</li>
      <li>不同币种的抽奖各不同</li>
      <li>选择好想要进行抽奖的游戏之后，点击“下注”按钮。系统会自动根据您的下注额度来判断抽奖券的下注数量。系统不会扣除小于0.00001 额度。</li>
      <li>等待您的抽奖结果，同时可以实时观察奖金额度的增长。获奖金额会自动发送到您到账号。</li>
    </ul>
    <br />
    <h4>抽奖时间</h4>
    <p><b>为了保证您到下注得到处理，尽量在抽奖时间到前 10 秒投注！</b></p>
    <h4>每个抽奖游戏的最终赢家会在抽奖时间得出。</h4>
    <p>在进行抽奖时，其中一张抽奖券会被随机筛选出，所获得的奖金会直接发送到抽奖券拥有者的账户。</p>
    <h4>当前赢家</h4>
    <p>当有新的下注到抽奖游戏时，系统会根据绝对公平算法筛选出当前的赢家。当前赢家代表当前下注情况下的抽奖赢家。如果到游戏抽奖结束时，都没有新的下注，那么这个“当前赢家“会是最终的赢家。</p>
    <h4>返回下注规则</h4>
    <p>如果到抽奖最后还是只有一个玩家下注，那个抽奖的所有下注金额会被返回给那个玩家。</p>
<br />
  <h4 class="ng-binding">每盘游戏有没有最低赌注限制？</h4>
  <p class="ng-binding">最低赌注为 0.00001 额度</p><p></p>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <!-- <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair> -->

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
