<div class="tabcontent">
  <h1>How to Play</h1>
  <p class="ng-binding"><b class="ng-binding">BetCoin ™ Lottery</b> is a classic card game that allows you to wager with the digital currency Bitcoin. It's an easy and fun way to play with and win more Bitcoins!</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box.  The maximum wager value is adjusted dynamically.</li>
    <br>
    <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and Recent Plays tabs located below the playing screen.</li>
    <br>
    <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
    <br>
  </ol>

    <h4>Tickets cost 0.00001 wager each. The main jackpot is 88%</h4>
    <p>The main jackpot is comprised of 88% of ticket purchases.</p>
    <br />
    <ul>
	    <li>Games: 5-minutes Bronze, 1-hour Silver, 8-hours Gold, 1-day Platinum, or 8-day Diamond</li>
      <li>Games in different currrencies are different.</li>
	    <li>Click the "Place Bet" button of the lottery you want to play with. The system will automatically determine the number of tickets based on the wager amount. The wager amount less than 0.00001 wager won't be debited by the system.</li>
	    <li>Wait for your lottery to be drawn, watch the jackpot grow. Your winnings will be automatically sent to your account.</li>
    </ul>
    <br />
    <h4>Cut-Off Time</h4>
    <p><b><em>Buy your tickets at least 10 seconds before the end of a lottery to ensure it is processed!</em></b></p>
    <h4>Lottery are drawn at the end of the time limit</h4>
    <p>When the lottery drawing occurs, one of the tickets will be drawn randomly, the amount of winning will be paid into the player's account.</p>
    <h4>Current Winner</h4>
    <p>Every time a new bet is added to the game, a new winner will be selected based on our provably fair calculation. It indicates who are winner currently. If there is no new bets added until the end of the game, the current winner displayed will be the final winner.</p>
    <h4>Return Bet Policy</h4>
    <p>If there is only one player when the lottery drawing occurs, the total bets wagered will be returned to the player.</p>
<br />
  <h4 class="ng-binding">Is there a minimum wager per hand?</h4>
  <p class="ng-binding">The minimum bet is 0.00001 wager</p>

  <!-- <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div> -->

  <!-- <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair> -->

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the code used to verify each game</a></p>


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
