<div class="col-xs-12 col-sm-9">
	<div class="panel panel-default main-container">
		<div class="panel-heading">New Press</div>
		<div class="panel-footer">
			<form action="" class="form-horizontal" name="pressForm" novalidate>
				<div class="form-group">
					<label class="col-sm-2 control-label">Title *</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="press.title" placeholder="Title of the Press" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Slug * </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="press.slug" placeholder="your-press-title-slug-here" ng-change="slug()" required />
					</div>
				</div>				
				<div class="form-group">
					<label class="col-sm-2 control-label">Content * </label>
					<div class="col-sm-10">
						<div text-angular ng-model="press.content" required placeholder="Press Content..."></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<button class="btn btn-primary" ng-click="savePress()" ng-disabled="pressForm.$invalid">Save</button>
						<button class="btn btn-primary" ng-click="previewPress()" ng-disabled="pressForm.$invalid">Preview</button>
					</div>
				</div>							
			</form>
		</div>	
	</div>
</div>