<div class="row"
     ng-controller="AssociateBonusController">
    <form class="form col-md-4 col-md-offset-4">
        <div class="form-group"
             ng-repeat="(currency, _) in config.value.amount">
            <label>{{currency}} Welcome Bonus</label>
            <div class="input-group">
                <span class="input-group-addon">{{fiatSymbols[currency]}}</span>
                <input type="number"
                       ng-model="config.value.amount[currency]"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Rollover</label>
            <input type="number"
                   ng-model="config.value.rollover"
                   class="form-control">
        </div>
        <div class="form-group">
            <label>Match Rollover</label>
            <input type="number"
                   ng-model="config.value.matchRollover"
                   class="form-control">
        </div>
        <div class="form-group"
             ng-repeat="(index, _) in config.value.matchMultipliers track by $index">
            <label>Match Multiplier {{index + 1}}</label>
            <input type="text"
                   ng-model="config.value.matchMultipliers[index]"
                   class="form-control">
        </div>
        <div class="form-group">
            <label>Match Max</label>
            <crypto-input model="config.value.matchMax"
                          currency="'bitcoin'"
                          class="input-group"></crypto-input>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"
                    ng-click="updateLimit(config)">Update</button>
        </div>
    </form>
</div>
