<!doctype html>
<html>
    <head>
        <title>BetCoin &trade; Circle Bitcoin Casino - Win Bitcoins!</title>
    </head>
    <body>
        <h1>BetCoin &trade; Circle</h1>
        <p>WIN THOUSANDS OF BITCOINS IN A SINGLE SPIN - AND INSTANTLY BECOME A MILLIONAIRE!</p>
        <p>Highest instant BTC payouts in the world! You win - we pay, no delays and no questions asked!</p>
        <ul>
            <li>Highly secure gaming - no account or password needed - nothing to be compromised, suitable even for the million-dollar-grade high payouts offered.</li>
            <li>Payouts are highly secure and nearly instant with negligible transaction fees, regardless of the amount.</li>
            <li>Bets are provably trustworthy by design. Chances that the software is rigged are completely eliminated</li>
        </ul>
    </body>
</html>
