<!doctype html>
<html>
    <head>
        <title>Bitcoin Casino: BetCoin &trade; Entertainment Portal</title>
    </head>
    <body>
        <h1>BetCoin &trade;</h1>
        <p>Welcome to BetCoin &trade; Bitcoin Entertainment Network - your one-stop-shop for Bitcoin Entertainment! We offer all types of high-definition bitcoin games and you can even play from your Mobile. Play dozens of classic casino games and play bitcoin Blackjack, bitcoin slots or bitcoin roulette today in the BetCoin &trade; Casino.</p>
        <p>Hit a bitcoin jackpot by playing the provably fair slot machine BetCoin &trade; Reels . You can play the game and win big by playing in bitcoin or litecoin.</p>
        <p>Play the classic bitcoin game BetCoin &trade; Dice and multiply your bitcoins up to 64000 times! If you want to win big instantly, spin our probably fair roulette BetCoin &trade; Circle ! You can also try your luck with our provably fair lottery: BetCoin &trade; Prize . Tickets are only 0.001 bitcoin and there are draws every day.</p>
        <a href="https://www.betcoin.tm/circle">BetCoin &trade; Circle</a>
        <a href="https://www.betcoin.tm/dice">BetCoin &trade; Dice</a>
        <a href="https://www.betcoin.tm/prize">BetCoin &trade; Prize</a>
        <a href="https://reels.betcoin.tm/">BetCoin &trade; Reels</a>
        <a href="https://casino.betcoin.tm/">BetCoin &trade; Casino</a>
        <a href="https://www.betcoin.tm/wiki">BetCoin &trade; Wiki</a>
        <a href="https://www.betcoin.tm/blog">BetCoin &trade; Blog</a>
        <a href="https://www.betcoin.tm/support">Help &amp; Support</a>
    </body>
</html>
