<!doctype html>
<html>
    <head>
        <title>BetCoin &trade; Prize Bitcoin Casino - Win Bitcoins!</title>
    </head>
    <body>
        <h1>BetCoin &trade; Prize</h1>
        <h2>World's Largest Bitcoin Lottery</h2>
        <h3>Only 0.001 BTC to Win A Million Dollar Prize</h3>
        <p>Earn Huge Rewards! 82% Jackpot for the Top Winner</p>
        <p>3% Leaderboard Bonus</p>
        <p>Jackpot Seed: Free BTC Every Day</p>
    </body>
</html>
