<div class="tabcontent howtoplay">
    <h1>玩法说明</h1>

    <p class="ng-binding"><b class="ng-binding">财神三张牌扑克</b>是一个经典的纸牌游戏，允许您使用数字货币比特币下注。这是一个简单而有趣的，大家一起并赢得更多的比特币的玩的方式！</p>
    <br>
    <ol style="padding-left:40px;">
        <li class="ng-binding">登录或注册, 或使用您的BTC钱包地址匿名游戏。</li>
        <br>
        <li class="ng-binding">使用所提供的个人存款地址与基金比特币的游戏余额。
        </li>
        <br>
        <li class="ng-binding">通过使用滑块，平衡按钮，按钮的增量比例，或通过点击下注框选择下注金额。最高下注值可以动态调整。
        </li>
        <br>
        <li class="ng-binding">检查你的进度，并使用位于播放屏幕下方的在游戏中排行榜和最新游戏跟进世界各地的玩家。 
        </li>
        <br>
        <li class="ng-binding">如果你是匿名玩家，您的余额会在闲置30分钟或在关闭浏览器后自动退还给您。
        </li>
        <br>
    </ol>

    <!-- <h4>Pay Table</h4>

    <div data-ng-include data-src="'tpl/paytables.html'"></div> -->

    <h4>赌场三张牌扑克玩法</h4>
    <ol>
        <li><p>
            使用单一的 52 张纸牌，组成的平常的 52 张牌。 
        </p></li>
        <li><p>
            玩家可以同时下赌注并对加赌注，也可以选择两者中的一个。 
        </p></li>
        <li><p>
            如果玩家下赌注，那么他要进行弃牌或者加注。  
        </p></li>
        <li><p>
            如果玩家弃牌，他将赔上自己的卡和赌注。 
        </p></li>
        <li><p>
            如果玩家加注，他必须加上等于原来赌注两倍的赌注。
        </p></li>
        <li><p>
            庄家将翻开自己的牌。
        </p></li>
        <li><p>
            庄家需要一个Q或比Q大的牌才能获得资格参赛。 
        </p></li>
        <li><p>
            如果庄家没有资格才赛，则玩家将赢得与投注相等的钱，并将提高游戏的赌注。 
        </p></li>
        <li><p>
            如果庄家有资格，那么玩家的手牌会与庄家的手牌进行比较，手牌值更高的人获胜。扑克手牌的顺序如下所示。 
        </p></li>
        <li><p>
            如果玩家有更好的扑克牌，赌注和赌博将支付同额赌注。 
        </p></li>
        <li><p>
            如果庄家有更好的扑克牌则赌注和赌博都将输掉比赛。 
        </p></li>
        <li><p>
            如果玩家和庄家平局，那么游戏继续。 
        </p></li>
        <li><p>
            如果玩家所下的赌注，提高并具有顺子的或更高级的手牌时，玩家会收到一个赌注奖金，不管庄家的手牌值是多少。
        </p></li>
        <li><p>
            本对加打赌会完全基于玩家的手牌的价值，如下面的对加部分显示。
        </p></li>
    </ol>
    <h4>手排名</h4>
    <ol>
        <li>
            <h5>同花顺</h5>

            <p>三张牌的花色相同序列。 <br/>
                一个王牌可以算作高或低 - 例如A-K-Q或3-2-A <br/>
                平局是由手排名最高的卡，除了3破被用于3，2，王牌同花顺。
            </p>
        </li>
        <li>
            <h5>三同号</h5>

            <p>三张牌相同的排名。 <br/>
                平局是由三张牌的职级划分 </p>
        </li>
        <li>
            <h5>顺子</h5>

            <p>三张牌的顺序。<br/>
                平局是由手排名最高的卡，除了3破被用于3，2，王牌直。 </p>
        </li>
        <li>
            <h5>同花顺</h5>

            <p>三张牌相同花色的。<br/>
                平局是由最大牌的职级划分，如果仍然由第二高卡的等级挂钩，如果仍然由第三高卡排名并列。 </p>
        </li>
        <li>
            <h5>对 </h5>

            <p>同一职级的两张牌和不同级别的第三张牌。 <br/>
                平局是由成对的牌职级划分，如果仍然未配对卡的等级挂钩。 </p>
        </li>
        <li>
            <h5>没有</h5>

            <p>三张牌不同的点数和花色，没有先后顺序 - 即没有任何上述排名手中。 平局是由最大牌的职级划分，如果仍然由第二高卡的等级挂钩，如果仍然由第三高卡排名并列。 </p>
        </li>
    </ol>
    <h4>赌注奖金自付</h4>
    <table>
        <tr>
            <td>顺子</td>
            <td>1比1</td>
        </tr>
        <tr>
            <td>三同</td>
            <td>4比1</td>
        </tr>
        <tr>
            <td>同花顺</td>
            <td>5比1</td>
        </tr>
    </table>
    <h4>对加自付</h4>
    <table>
        <tr>
            <td>对</td>
            <td>1比1</td>
        </tr>
        <tr>
            <td>相同花色</td>
            <td>4比1</td>
        </tr>
        <tr>
            <td>顺子</td>
            <td>5比1</td>
        </tr>
        <tr>
            <td>三同</td>
            <td>30比1</td>
        </tr>
        <tr>
            <td>同花顺</td>
            <td>40比1</td>
        </tr>
    </table>
    <h4 class="ng-binding">对玩家来说财神三张牌扑克的预期收益是多少？ </h4>

    <p class="ng-binding">预期收益为96.63％ </p>

    <h4 class="ng-binding">每手最低下注是多少？</h4>

    <p class="ng-binding">最低下注金额为0.000001 BTC</p>

    <p></p>

    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击此处查看用于验证每个游戏的代码</a></p>
    <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
