<div class="tabcontent howtoplay">
    <h1>How to Play</h1>

    <p class="ng-binding"><b class="ng-binding">BetCoin ™ 3 Card Poker</b> is a classic card game that allows you to
        wager with the digital currency Bitcoin. It's an easy and fun way to play with and win more Bitcoins!</p>
    <br>
    <ol style="padding-left:40px;">
        <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet
            address
        </li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided
            personal deposit address
        </li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of
            balance buttons, incremental buttons, or by clicking on the wager box. The maximum wager value is adjusted
            dynamically.
        </li>
        <br>
        <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and
            Recent Plays tabs located below the playing screen.
        </li>
        <br>
        <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30
            minutes of inactivity or upon closing your browser.
        </li>
        <br>
    </ol>

    <!-- <h4>Pay Table</h4>

    <div data-ng-include data-src="'tpl/paytables.html'"></div> -->

    <h4>Playing Casino 3 Card Poker</h4>
    <ol>
        <li><p>
            A single 52-card deck is used, consisting of the usual 52 cards.
        </p></li>
        <li><p>
            The Player makes an Ante and/or Pairplus bet.
        </p></li>
        <li><p>
            If the player made the Ante bet, then he has to either fold or raise.
        </p></li>
        <li><p>
            If the player folds, then he forfeits his Ante wager.
        </p></li>
        <li><p>
            If the player raises, then he must make an additional Play bet, equal exactly to his Ante bet.
        </p></li>
        <li><p>
            The dealer will turn over his cards.
        </p></li>
        <li><p>
            The dealer needs a queen high or better to qualify.
        </p></li>
        <li><p>
            If the dealer does not qualify then the player will win even money on the Ante bet and the Play bet will BE RETURNED.
        </p></li>
        <li><p>
            If the dealer qualifies, then the player's hand will be compared to the dealer's hand, the higher hand wins.
            The order of poker hands is indicated below.
        </p></li>
        <li><p>
            If the player has the higher poker hand then the Ante and Play will both pay even money.
        </p></li>
        <li><p>
            If the dealer has the higher poker hand then the Ante and Play will both lose.
        </p></li>
        <li><p>
            If the player and dealer tie then the Ante and Play bets will push.
        </p></li>
        <li><p>
            If the player made the Ante bet, raised and has a straight or higher then the player will receive an Ante
            Bonus, regardless of the value of the dealer's hand.
        </p></li>
        <li><p>
            The Pairplus bet will pay entirely based on the poker value of the player's hand, as shown in the Pairplus
            section below.
        </p></li>
    </ol>
    <h4>Hand Rankings</h4>
    <ol>
        <li>
            <h5>Straight Flush</h5>

            <p>Three cards in sequence of the same suit.<br/>
                An Ace can count as either high or low - e.g. A-K-Q or 3-2-A<br/>
                Ties are broken by the highest ranked card in the hand except 3 is used for a 3, 2, Ace straight flush.
            </p>
        </li>
        <li>
            <h5>Three of a kind</h5>

            <p>Three cards of the same rank.<br/>
                Ties are broken by the rank of the three cards</p>
        </li>
        <li>
            <h5>Straight</h5>

            <p>Three cards in sequence.<br/>
                Ties are broken by the highest ranked card in the hand except 3 is used for a 3, 2, Ace straight.</p>
        </li>
        <li>
            <h5>Flush</h5>

            <p>Three cards of the same suit.<br/>
                Ties are broken by rank of the highest card, if still tied by the rank of the second highest card and if
                still tied by rank of the third highest card.</p>
        </li>
        <li>
            <h5>Pair</h5>

            <p>Two cards of the same rank and a third card of different rank.<br/>
                Ties are broken by rank of the paired cards and if still tied by rank of the unpaired card.</p>
        </li>
        <li>
            <h5>Nothing</h5>

            <p>Three cards of different rank and suit, not in sequence - i.e. not any of the above ranked hands.<br/>
                Ties are broken by rank of the highest card, if still tied by the rank of the second highest card and if
                still tied by rank of the third highest card.</p>
        </li>
    </ol>
    <h4>Ante Bonus Pays</h4>
    <table>
        <tr>
            <td>Straight</td>
            <td>1 to 1</td>
        </tr>
        <tr>
            <td>Three of a kind</td>
            <td>4 to 1</td>
        </tr>
        <tr>
            <td>Straight Flush</td>
            <td>5 to 1</td>
        </tr>
    </table>
    <h4>Pairplus Pays</h4>
    <table>
        <tr>
            <td>Pair</td>
            <td>1 to 1</td>
        </tr>
        <tr>
            <td>Flush</td>
            <td>4 to 1</td>
        </tr>
        <tr>
            <td>Straight</td>
            <td>5 to 1</td>
        </tr>
        <tr>
            <td>Three of a kind</td>
            <td>30 to 1</td>
        </tr>
        <tr>
            <td>Straight Flush</td>
            <td>40 to 1</td>
        </tr>
    </table>
    <h4 class="ng-binding">What is the expected return to player for BetCoin ™ Casino 3 Card Poker?</h4>

    <p class="ng-binding">The expected Return to Player is 96.63%</p>

    <h4 class="ng-binding">Is there a minimum wager per hand?</h4>

    <p class="ng-binding">The minimum bet is 0.000001 BTC</p>

    <p></p>

    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the code used to verify each
        game</a></p>
    <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
