<div ng-controller="GameController" class="row noselect">

    <div class="col-xs-12 col-sm-5 text-center col-sm-push-7">

        <img alt="<%= meta.title %>" src="<%= global.logourl %>" class="logo" />
        <div id="gameControls">
            <player-info></player-info>
            <cashout-button player = "player" game="game"></cashout-button>
            <bet-panel player="player" wager="btcWager" currency-abbr="currencyAbbr"></bet-panel>
            <div style="clear:both;position:relative;">
                <div style="display:inline-block">
                    <div><img ng-click="soundToggle()" ng-src="{{ soundIcon }}"/></div>
                </div>
                <autospin-button></autospin-button>
                <proof-button></proof-button>
            </div>
            <div style="margin:10px auto;position:relative;">

                <bc-client-seed style="" reset="isResetSeed" seed-value="clientSeedValue" init-seed-value="gameData.client_seed"></bc-client-seed>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-pull-5">
        <div id="gameContainer">
            <div>
                <div class="row bet_results">
                    <div class="col-xs-12">
                        <div class="label label-danger margin-top-10"><%= game.dealer %></div>
                        <div class="label label-danger margin-top-10 result-message" ng-show="(playerWinLoseTie === 0 || playerWinLoseTie === -1)&&!isGameInProgress&&!dealingCard">
                            <%=game.winmessage%>
                        </div>
                        <div class="label label-danger margin-top-10 result-message" ng-show="playerWinLoseTie === 1&&!isGameInProgress&&!dealingCard">
                            <%=game.tiemessage%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="cards-wrapper">
                            <div class="cards" id="dealer-cards">
                                <div ng-if="!dealercards.cards">
                                    <card flipped="true"></card>
                                </div>
                                <div class="livecard" ng-if="dealercards.cards" ng-repeat="card in dealercards.cards" ng-class="{dealt:card.dealt}">
                                    <div class="flip-container" ng-class="{hover:card.hover}">
                                        <div class="flipper">
                                            <div class="front-div">
                                                <card data-card="card"></card>
                                            </div>
                                            <div class="back-div">
                                                <card flipped="true"></card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bet_results">
                                <div ng-if="dealercards.rank&&animateCardCount >= 10">
                                    <% for (var i = 0; i < cardRanks.length; i++) {%>
                                    <%if (Array.isArray(cardRanks[i])) {
                                    for (var j = 0; j < cardRanks[i].length; j++) {%>
                                    <span ng-if="dealercards.rank === <%=i%>&&dealercards.subRank === <%=j%>"><%=cardRanks[i][j]%></span>
                                    <%  }
                                    } else {%>
                                    <span ng-if="dealercards.rank === <%=i%>"><%=cardRanks[i]%></span>
                                    <%  }
                                    } %>
                                    <span ng-if="dealercards.isQualified === false&&!dealingCard"><%=game.unqualifiedmessage%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bet_results">
                    <div class="col-xs-12">
                        <div class="label label-danger"><%= game.player %></div>
                        <div class="label label-danger result-message" ng-show="playerWinLoseTie === 3&&!isGameInProgress&&!dealingCard">
                            <%=game.winmessage%>
                        </div>
                        <div class="label label-danger result-message" ng-show="playerWinLoseTie === 1&&!isGameInProgress&&!dealingCard">
                            <%=game.tiemessage%>
                        </div>
                        <div class="label label-danger result-message" ng-show="playerWinLoseTie === -1&&!isGameInProgress&&!dealingCard">
                            <%=game.foldedmessage%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="cards-wrapper">
                            <div class="cards" id="player-cards">
                                <div ng-if="!playercards.cards">
                                    <card  flipped="true"></card>
                                </div>
                                <div class="livecard" ng-if="playercards.cards" ng-repeat="card in playercards.cards" ng-class="{dealt:card.dealt}">
                                    <div class="flip-container" ng-class="{hover:!holds[$index]}" ng-click="flipCard($index)">
                                        <div class="flipper">
                                            <div class="front-div">
                                                <card data-card="card"></card>
                                            </div>
                                            <div class="back-div">
                                                <card flipped="true"></card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bet_results">
                                <div ng-if="playercards.rank&&animateCardCount >= 5">
                                    <% for (var i = 0; i < cardRanks.length; i++) {%>
                                    <%if (Array.isArray(cardRanks[i])) {
                                    for (var j = 0; j < cardRanks[i].length; j++) {%>
                                    <span ng-if="playercards.rank === <%=i%>&&playercards.subRank === <%=j%>"><%=cardRanks[i][j]%></span>
                                    <%  }
                                    } else {%>
                                    <span ng-if="playercards.rank === <%=i%>"><%=cardRanks[i]%></span>
                                    <%  }
                                    } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="spinmessage">
                <div class="color-gold" ng-show="maxBetErr"><%= serverErrors["172"] %></div>
                <div class="color-gold" ng-show="minbetMsg"><%= serverErrors["173"] %></div>
                <div class="color-gold" ng-show="serverMsg"><%= serverMsg %></div>
                <div class="color-gold" ng-show="serverErr"><%= serverErrors["032"] %></div>
                <div class="color-gold" ng-show="minconfErr"><%= minconfMsg %></div>
                <div class="color-gold" ng-show="withdrawErr"><%= withdrawErrorMsg %></div>
                <span ng-hide="hasError() || isGameInProgress || resultProfit != null"><%= game.spinmessage %></span>
                <span ng-show="isGameInProgress&&!player.anonymous"><%= game.spinningmessage %></span>
                <span ng-show="isGameInProgress&&player.anonymous"><%= game.spinningmessage_anonymous %></span>
                <span ng-show="resultProfit && !isGameInProgress && playerWinLoseTie === 3"><%= game.winmessage %> {{ currencyAbbr }} {{ resultProfit | cryptovalue }}</span>
                <span ng-show="resultProfit && !isGameInProgress && playerWinLoseTie === 1"><%= game.tiemessage %> {{ currencyAbbr }} {{ resultProfit | cryptovalue }}</span>
            </div>
            <div>
                <div class="button-container">
                    <button ng-show="!isGameInProgress" ng-click="play();" class="btn btn-flashy btn-lg btn-roll" style="margin:10px;font-size:30px;">
                        <%= buttons.bet %>
                    </button>
                    <button ng-show="isGameInProgress" ng-disabled="!playercards||dealingCard==null||dealingCard||!drawable||holds.indexOf(false)===-1" ng-click="nextAction('draw');" class="btn btn-flashy btn-lg btn-roll" style="margin:5px;font-size:30px;">
                        <%= buttons.draw %>
                    </button>
                    <button ng-show="isGameInProgress" ng-disabled="!playercards||dealingCard==null||dealingCard||holds.indexOf(false)!==-1" ng-click="nextAction('raise');" class="btn btn-flashy btn-lg btn-roll" style="margin:5px;font-size:30px;" bc-popover="{{raiseError != null}}" bc-popover-direction="top">
                        <%= buttons.raise %>
                    </button>
                    <div class="errors hide">
                        <span class="error"><%= text.invalid_raise %></span>
                    </div>
                    <button ng-show="isGameInProgress" ng-disabled="!playercards||dealingCard==null||dealingCard||holds.indexOf(false)!==-1" ng-click="nextAction('fold');" class="btn btn-flashy btn-lg btn-roll" style="margin:5px;font-size:30px;">
                        <%= buttons.fold %>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
