<div>
    <div id="modal-{{ game.id || game._id }}" class="game-proof">
        <h3><%= spins.ProofHeader1 %></h3>
        <div class=proof-body">
            <dl class="dl-horizontal">
                <dt>ID</dt><dd class="wrap-word">{{ game.id || game._id }}</dd>
                <dt>Username</dt><dd>{{ game.player_alias }}</dd>
                <dt>Result</dt><dd>{{ game | diceWinnings }}x</dd>
                <dt>Bet</dt><dd>{{ game.wager | cryptovalue }}</dd>
                <dt>Return</dt><dd>{{ game.winnings | cryptovalue }}</dd>
                <dt>Time</dt><dd>{{ game.createdAt | date:"MM/dd HH:mm:ss" }}</dd>
                <dt>Server Seed</dt><dd class="wrap-word">{{ game.server_seed }}</dd>
                <dt>Initial Hash</dt><dd class="wrap-word">{{ game.seed_hash }}</dd>
                <dt>Client Seed</dt><dd class="wrap-word">{{ game.client_seed }}</dd>
                <dt>Lucky Number</dt><dd class="wrap-word">{{ game.result }}</dd>
            </dl>
            <br />

            <provably-fair server-seed="{{game.server_seed}}" client-seed="{{game.client_seed}}"></provably-fair>
        </div>

        <button class="btn btn-default btn-lg" ng-click="backToList()"><%= gameDetails.returnToList %></button>
    </div>
</div>
