<div class="col-xs-12 col-sm-9">
	<div class="panel panel-default main-container">
		<div class="panel-heading">Preview Blog</div>
		<div class="panel-body">
			<h1><span ng-bind-html="blog.title"></span></h1>
			<div class="row">
				<p ng-bind-html="blog.content" class="paragraph-content"></p>
			</div>
			<div>
				<hr>
				<button class="btn btn-primary" ng-click="back()">Back</button>
				<button class="btn btn-primary" ng-click="saveBlog(blog._id)">Save</button>
			</div>
		</div>	
	</div>
</div>