<div class="tabcontent howtoplay">
    <h1>玩法说明</h1>

    <p class="ng-binding"><b class="ng-binding">财神加勒比扑克</b>是一个经典的纸牌游戏，允许您使用数字货币比特币下注。这是一个简单而有趣的，大家一起并赢得更多的比特币的玩的方式！</p>
    <br>
    <ol style="padding-left:40px;">
        <li class="ng-binding">登录或注册, 或使用您的BTC钱包地址匿名游戏。</li>
        <br>
        <li class="ng-binding">使用所提供的个人存款地址与基金比特币的游戏余额。
        </li>
        <br>
        <li class="ng-binding">通过使用滑块，平衡按钮，按钮的增量比例，或通过点击下注框选择下注金额。最高下注值可以动态调整。
        </li>
        <br>
        <li class="ng-binding">检查你的进度，并使用位于播放屏幕下方的在游戏中排行榜和最新游戏跟进世界各地的玩家。 
        </li>
        <br>
        <li class="ng-binding">如果你是匿名玩家，您的余额会在闲置30分钟或在关闭浏览器后自动退还给您。
        </li>
        <br>
    </ol>

    <!-- <h4>Pay Table</h4>

    <div data-ng-include data-src="'tpl/paytables.html'"></div> -->

    <h4>赌场加勒比扑克玩法</h4>
    <ol>
        <li><p>
            使用单一的 52 张纸牌，组成的平常的 52 张牌。
        </p></li>
        <li><p>
            玩家下注。
        </p></li>
        <li><p>
            玩家必须弃牌或加注。
        </p></li>
        <li><p>
            如果玩家弃牌，他将赔上自己的卡和赌注。
        </p></li>
        <li><p>
            如果玩家加注，他必须加上等于原来赌注两倍的赌注。
        </p></li>
        <li><p>
            庄家将翻开其他四张卡片。
        </p></li>
        <li><p>
            庄家必须有一个A和一个K或更大的才能获得参赛资格。换句话说，最小的或者参赛资格的牌是王牌，K，4，3，2，最大的没有参赛资格的牌王牌，Q，J，10，9，如果庄家没有资格的玩家将赢得所下的赌注和跟进的赌注。
        </p></li>
        <li><p>
            如果庄家获得资格，并赢了玩家。原先的赌注和跟进的赌注都会输掉。
        </p></li>
        <li><p>
            如果庄家获得资格，输给了玩家，将输掉赌注甚至按照支付表付出更多的钱。
        </p></li>
        <li><p>
            如果玩家和庄家打平，原先赌注和跟进的赌注都将增加。
        </p></li>
    </ol>
    <h4>跟进部分支付表</h4>
    <table>
        <tr>
            <td>皇家同花顺</td>
            <td>50比1</td>
        </tr>
        <tr>
            <td>同花顺</td>
            <td>50比1</td>
        </tr>
        <tr>
            <td>四张同号</td>
            <td>20比1</td>
        </tr>
        <tr>
            <td>满堂红</td>
            <td>7比1</td>
        </tr>
        <tr>
            <td>同花</td>
            <td>5比1</td>
        </tr>
        <tr>
            <td>顺子</td>
            <td>4 比1</td>
        </tr>
        <tr>
            <td>三张同号的牌</td>
            <td>3比1</td>
        </tr>
        <tr>
            <td>双对子</td>
            <td>2比1</td>
        </tr>
        <tr>
            <td>All other</td>
            <td>1比1</td>
        </tr>

    </table>
    <h4 class="ng-binding">对玩家来说财神加勒比扑克的玩家的预期收益率是多少？</h4>

    <p class="ng-binding">玩家的预期的回报是 94.77%</p>

    <h4 class="ng-binding">有最小的赌注，每一次吗？</h4>

    <p class="ng-binding">最小的赌注是 0.000001 BTC</p>

    <p></p>

    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击此处查看用于验证每个游戏的代码</a></p>
    <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
