<a data-toggle="collapse" data-parent="#message-accordion" data-target="#{{message.id}}" ng-click="markRead()">
    {{message.datetime | date:'yyyy-MM-dd HH:mm:ss'}} -
    <b><%= text.win_lottery %></b>
</a>
<div bindonce="message" id="{{message.id}}" class="panel panel-default panel-collapse collapse" bo-class="{'in':!message.hasRead}">
    <div class="panel-body">
        <div>
            <p> 恭喜! 您已赢得抽奖, 
            <span ng-show="message.interval.indexOf('h')!=-1">中距离</span>
            <span ng-show="message.interval.indexOf('d')!=-1">长程</span>,
            <span ng-show="message.interval.indexOf('1')!=-1">铜杯</span>
            <span ng-show="message.interval.indexOf('3')!=-1">银杯</span>
            <span ng-show="message.interval.indexOf('7')!=-1">金杯</span>
            <span ng-show="message.interval.indexOf('9')!=-1">白金杯</span>
            <span ng-show="message.interval.indexOf('15')!=-1">钻石杯</span>, {{message.jackpot.toBitcoin()}} BTC
        </div>
        <button class="btn btn-primary btn-block" ng-click="markRead()" data-toggle="collapse" data-parent="#message-accordion" data-target="#{{message.id}}">
            <%=buttons.dismiss_message %>
        </button>
    </div>
</div>
