
    <div class="navbar navbar-static-bottom nav-custom-bottom footernav">
        <ul class="nav navbar-nav">
            <li><a href="<%= home.betcoin_link %>"><img src="<%= nav_logo %>" class="logo" alt="<%= home. main_page %>"/></a></li>
            <!-- @if LOC="en_US" -->
            <li>
                <a target="_blank" href="https://www.facebook.com/pages/Betcoin-Entertainment/704812019529889" target="_blank"><img src="img/social_icons/facebook.png" alt="" height="26" width="26"></a>
            </li>
            <li>
                <a target="_blank" href="http://www.twitter.com/Bet_Coin" target="_blank"><img src="img/social_icons/twitter.png" alt="" height="26" width="26"></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/100635322944350118832/posts" target="_blank"><img src="img/social_icons/google_plus.png" alt="" height="26" width="26"></a>
            </li>
            <!-- @endif -->
        </ul>
        <ul class="nav navbar-nav hidden-xs pull-right">
            <li><a class="textlink" href="<%= httplink %>/terms-conditions" target="_blank"><%= home.terms_header %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/affiliates" target="_blank"><%= buttons.affiliate %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/support" target="_blank"><%= home.support %></a> </li>
            <!-- @if LOC="en_US" -->
            <li><a class="textlink" href="<%= httplink %>/blog" target="_blank"><%= home.blog %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/press" target="_blank"><%= home.press %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/wiki" target="_blank"><%= home.wiki %></a></li>
            <!-- @endif -->
       </ul>
        <ul class="nav navbar-nav visible-xs">
            <li><a class="textlink" href="<%= httplink %>/terms-conditions" target="_blank"><%= home.terms_header %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/affiliates" target="_blank"><%= buttons.affiliate %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/support" target="_blank"><%= home.support %></a> </li>
            <!-- @if LOC="en_US" -->
            <li><a class="textlink" href="<%= httplink %>/blog" target="_blank"><%= home.blog %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/press" target="_blank"><%= home.press %></a> </li>
            <li><a class="textlink" href="<%= httplink %>/wiki" target="_blank"><%= home.wiki %></a></li>
            <!-- @endif -->
        </ul>

    </div>

