<div>
    <div id="modal-{{ game.id || game._id }}" class="game-proof">
        <h3><%= spins.ProofHeader1 %></h3>

        <div class="row">
            <div class="col-xs-12 col-md-6 game col-md-push-3 wheelContainer">
                <div class="wheelWrap">
                    <div class="wheel" ng-style="listposition">
                        <div class="wheelArrow">
                            <img src="./img/spike.png"/>
                        </div>

                        <img class="wheelBackImage" src="./img/w2.png" id="wheelBackImageInDetail" />
                        <img class="wheelImage" src="./img/w1b.png" id="wheelImageInDetail" />
                        <div class="circleCenter btn-image">
                            <img class="normal" src="./img/w3.png"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <dl class="dl-horizontal">
            <dt class="spins-dt-width">
            <%= spins.CircleTh1 %></dt><dd class="margin-left-120 wrap-word">{{ game.id || game._id }}
            </dd>
            <dt  class="spins-dt-width">
            <%= username %></dt><dd class="margin-left-120">{{ game.player_alias }}
            </dd>
            <dt class="spins-dt-width">
            <%= spins.CircleTh3 %></dt><dd class="margin-left-120">{{ game | winnings }}<%= game.x %>
            </dd>
            <dt class="spins-dt-width">
            <%= spins.CircleTh4 %></dt><dd class="margin-left-120">{{ game.wager | cryptovalue }}
            </dd>
            <dt class="spins-dt-width">
            <%= spins.CircleTh9 %>
            </dt><dd class="margin-left-120">
            <span ng-repeat="(num, value) in game.bets">&quot;{{num}}&quot;:{{ value | cryptovalue }} </span>
            </dd>
            <dt class="spins-dt-width">
            <%= spins.CircleTh5 %></dt><dd class="margin-left-120">{{ game.winnings | cryptovalue }}
            </dd>
            <dt class="spins-dt-width">
            <%= spins.CircleTh7 %></dt><dd class="margin-left-120">{{ game.createdAt | date:"MM/dd HH:mm:ss" }}
            </dd>
            <dt class="spins-dt-width"><%= spins.ProofDt1 %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.server_seed }}</dd>
            <dt class="spins-dt-width"><%= spins.ProofDt2 %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.init_array }}</dd>
            <dt class="spins-dt-width"><%= spins.ProofDt3 %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.initial_hash }}</dd>
            <dt class="spins-dt-width"><%= spins.ProofDt4 %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.client_seed }}</dd>
            <dt class="spins-dt-width"><%= spins.ProofDt5 %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.final_array }}</dd>
            <dt class="spins-dt-width"><%= game.luckynumber %></dt>
            <dd class="margin-left-120 wrap-word">{{ game.lucky_number }}</dd>
        </dl>

        <provably-fair init-array="{{game.init_array}}" server-seed="{{game.server_seed}}" client-seed="{{game.client_seed}}"></provably-fair>
    </div>

    <button class="btn btn-default btn-lg" ng-click="backToList()"><%= gameDetails.returnToList %></button>
</div>
