<nav class="navbar navbar-default" role="navigation" data-ng-controller="BCAccountController">
    <div class="navbar-custom">
        <div class="toolbar-icons">
            <div class="homelink">
                <a href="<%= httplink %>">
                    <img src="<%= nav_logo %>" class="logo" alt="<%= home. main_page %>"/></a>
            </div>
            <div class="localelink">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="games-menu">
                    <img alt="<%= home.exclusive_link_title %>" src="img/iconbar/exclusive44.png" />
                    <span><%= accountmenu.games %></span>
                </a>
                <ul class="dropdown-menu" id="game-menu">
                    <li class="header"><%= gamelist.popular %></li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.circle_link %>">
                            <img alt="<%= home.circle_link_title %>" src="img/iconbar/circle44.png">
                            <span><%= home.circle_link_short %></span></a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.baccarat_link %>">
                            <img alt="<%= home.baccarat_link_title %>" src="img/iconbar/baccarat44.png" />
                            <span><%= home.baccarat_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.dice_link %>">
                            <img alt="<%= home.dice_link_title %>" src="img/iconbar/dice44.png">
                            <span><%= home.dice_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.roulette_link %>">
                            <img alt="<%= home.roulette_link_title %>" src="img/iconbar/roulette44.png" />
                            <span><%= home.roulette_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.lottery_link %>">
                            <img alt="<%= home.lottery_link_title %>" src="img/iconbar/lottery44.png">
                            <span><%= home.lottery_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.blackjack_link %>">
                            <img alt="<%= home.blackjack_link_title %>" src="img/iconbar/blackjack44.png" />
                            <span><%= home.blackjack_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.reels_link %>">
                            <img alt="<%= home.reels_link_title %>" src="img/iconbar/reels44.png">
                            <span><%= home.reels_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.fortune_link %>">
                            <img alt="<%= home.fortune_link_title %>" src="img/iconbar/fortune44.png" />
                            <span><%= home.fortune_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.hilo_link %>">
                            <img alt="<%= home.hilo_link_title %>" src="img/iconbar/hilo44.png" />
                            <span><%= home.hilo_link_short %></span>
                        </a>
                    </li>
                    <li class="header"><%= gamelist.new %></li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.circle_link %>">
                            <img alt="<%= home.circle_link_title %>" src="img/iconbar/circle44.png">
                            <span><%= home.circle_link_short %></span></a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.ultimatepoker_link %>" tabindex="-1">
                            <img alt="<%= home.ultimatepoker_link_title %>" src="img/iconbar/ultimatepoker44.png" />
                            <span><%= home.ultimatepoker_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.dice_link %>">
                            <img alt="<%= home.dice_link_title %>" src="img/iconbar/dice44.png">
                            <span><%= home.dice_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.threecard_link %>">
                            <img alt="<%= home.threecard_link_title %>" src="img/iconbar/threecard44.png" />
                            <span><%= home.threecard_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.lottery_link %>">
                            <img alt="<%= home.lottery_link_title %>" src="img/iconbar/lottery44.png">
                            <span><%= home.lottery_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.sicbo_link %>">
                            <img alt="<%= home.sicbo_link_title %>" src="img/iconbar/sicbo44.png" />
                            <span><%= home.sicbo_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.keno_link %>">
                            <img alt="<%= home.keno_link_title %>" src="img/iconbar/keno44.png">
                            <span><%= home.keno_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.craps_link %>">
                            <img alt="<%= home.craps_link_title %>" src="img/iconbar/craps44.png" />
                            <span><%= home.craps_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.caribbean_link %>">
                            <img alt="<%= home.caribbean_link_title %>" src="img/iconbar/caribbean44.png" />
                            <span><%= home.caribbean_link_short %></span>
                        </a>
                    </li>
                    <li class="header"><%= gamelist.exclusive %></li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.circle_link %>">
                            <img alt="<%= home.circle_link_title %>" src="img/iconbar/circle44.png">
                            <span><%= home.circle_link_short %></span></a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.dice_link %>">
                            <img alt="<%= home.dice_link_title %>" src="img/iconbar/dice44.png">
                            <span><%= home.dice_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.mahjong_link %>">
                            <img alt="<%= home.mahjong_link_title %>" src="img/iconbar/mahjong44.png" />
                            <span><%= home.mahjong_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.baccpo_link %>">
                            <img alt="<%= home.baccpo_link_title %>" src="img/iconbar/baccpo44.png" />
                            <span><%= home.baccpo_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.tigerdragon_link %>">
                            <img alt="<%= home.tigerdragon_link_title %>" src="img/iconbar/tigerdragon44.png" />
                            <span><%= home.tigerdragon_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.tiles_link %>">
                            <img alt="<%= home.tiles_link_title %>" src="img/iconbar/tiles44.png" />
                            <span><%= home.tiles_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.fantan_link %>">
                            <img alt="<%= home.fantan_link_title %>" src="img/iconbar/fantan44.png" />
                            <span><%= home.fantan_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.flip_link%>">
                            <img alt="<%= home.flip_link_title %>" src="img/iconbar/flip44.png"/>
                            <span><%= home.flip_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.lottery_link %>">
                            <img alt="<%= home.lottery_link_title %>" src="img/iconbar/lottery44.png">
                            <span><%= home.lottery_link_short %></span>
                        </a>
                    </li>


                    <li class="header"><%= gamelist.all %></li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.circle_link %>">
                            <img alt="<%= home.circle_link_title %>" src="img/iconbar/circle44.png">
                            <span><%= home.circle_link_short %></span></a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.baccarat_link %>">
                            <img alt="<%= home.baccarat_link_title %>" src="img/iconbar/baccarat44.png" />
                            <span><%= home.baccarat_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.dice_link %>">
                            <img alt="<%= home.dice_link_title %>" src="img/iconbar/dice44.png">
                            <span><%= home.dice_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.blackjack_link %>">
                            <img alt="<%= home.blackjack_link_title %>" src="img/iconbar/blackjack44.png" />
                            <span><%= home.blackjack_link_short %></span>
                        </a>
                    </li>
                    <li class="gamelink">
                        <a class="sprite local-dropdown" href="<%= httplink %><%= home.lottery_link %>">
                            <img alt="<%= home.lottery_link_title %>" src="img/iconbar/lottery44.png">
                            <span><%= home.lottery_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.reels_link %>">
                            <img alt="<%= home.reels_link_title %>" src="img/iconbar/reels44.png">
                            <span><%= home.reels_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.paigow_link %>">
                            <img alt="<%= home.paigow_link_title %>" src="img/iconbar/paigow44.png" />
                            <span><%= home.paigow_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.keno_link %>">
                            <img alt="<%= home.keno_link_title %>" src="img/iconbar/keno44.png">
                            <span><%= home.keno_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.craps_link %>">
                            <img alt="<%= home.craps_link_title %>" src="img/iconbar/craps44.png" />
                            <span><%= home.craps_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.mahjong_link %>">
                            <img alt="<%= home.mahjong_link_title %>" src="img/iconbar/mahjong44.png" />
                            <span><%= home.mahjong_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.tiles_link %>">
                            <img alt="<%= home.tiles_link_title %>" src="img/iconbar/tiles44.png" />
                            <span><%= home.tiles_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.sicbo_link %>">
                            <img alt="<%= home.sicbo_link_title %>" src="img/iconbar/sicbo44.png" />
                            <span><%= home.sicbo_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.fantan_link %>">
                            <img alt="<%= home.fantan_link_title %>" src="img/iconbar/fantan44.png" />
                            <span><%= home.fantan_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.roulette_link %>">
                            <img alt="<%= home.roulette_link_title %>" src="img/iconbar/roulette44.png" />
                            <span><%= home.roulette_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.baccpo_link %>">
                            <img alt="<%= home.baccpo_link_title %>" src="img/iconbar/baccpo44.png" />
                            <span><%= home.baccpo_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.tigerdragon_link %>">
                            <img alt="<%= home.tigerdragon_link_title %>" src="img/iconbar/tigerdragon44.png" />
                            <span><%= home.tigerdragon_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.fortune_link %>">
                            <img alt="<%= home.fortune_link_title %>" src="img/iconbar/fortune44.png" />
                            <span><%= home.fortune_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.hilo_link %>">
                            <img alt="<%= home.hilo_link_title %>" src="img/iconbar/hilo44.png" />
                            <span><%= home.hilo_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.war_link %>" tabindex="-1">
                            <img alt="<%= home.war_link_title %>" src="img/iconbar/war44.png" />
                            <span><%= home.war_link_short %></span>
                        </a>
                    </li>

                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.threecard_link %>">
                            <img alt="<%= home.threecard_link_title %>" src="img/iconbar/threecard44.png" />
                            <span><%= home.threecard_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.flip_link%>">
                            <img alt="<%= home.flip_link_title %>" src="img/iconbar/flip44.png"/>
                            <span><%= home.flip_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.caribbean_link %>">
                            <img alt="<%= home.caribbean_link_title %>" src="img/iconbar/caribbean44.png" />
                            <span><%= home.caribbean_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.videopoker_link %>">
                            <img alt="<%= home.videopoker_link_title %>" src="img/iconbar/videopoker44.png" />
                            <span><%= home.videopoker_link_short %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown" href="<%= httplink %><%= home.ultimatepoker_link %>">
                            <img alt="<%= home.ultimatepoker_link_title %>" src="img/iconbar/ultimatepoker44.png" />
                            <span><%= home.ultimatepoker_link_short %></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="infolink">
                <a class="sprite" data-target="#supportModal" data-toggle="modal">
                    <img alt="<%= home.support_alt %>" src="img/toolbar/question44.png"/>
                    <span><%= home.support %></span>
                </a>
            </div>
            <div class="gamelink" style="padding-right:5px;">
                <a href="<%= home.affiliate_link %>">
                    <img alt="<%= buttons.affiliate %>" src="img/iconbar/affiliates44.png" />
                    <span style="padding-top:2px!important;"><%= buttons.affiliate %></span>
                </a>
            </div>
            <div class="infolink">
                <a class="sprite" href="<%= home.message_link %>"><bc-unread></bc-unread>
                    <img alt="<%= home.message_alt %>" src="img/toolbar/messages44.png"/>
                    <span><%= home.message %></span>
                </a>
            </div>
            <div class="infolink">
                <a class="sprite" ng-show="BCSession.user" href="<%= home.account_link %>">
                    <img alt="<%= home.account_alt %>" src="img/toolbar/account44.png"/>
                    <span><%= home.account %></span>
                </a>
                <a class="sprite" ng-hide="BCSession.user" data-target="#loginModal" data-toggle="modal">
                    <img alt="<%= home.account_alt %>" src="img/toolbar/account44.png"/>
                    <span><%= home.account %></span>
                </a>
            </div>
            <div class="infolink">
                <a class="sprite" ng-show="BCSession.user" ng-click="logout()">
                    <img alt="<%= home.signin_alt %>" src="img/toolbar/power44.png"/>
                    <span><%= home.logout %></span>
                </a>
                <a class="sprite" data-target="#loginModal" data-toggle="modal" ng-hide="BCSession.user">
                    <img alt="<%= home.signin_alt %>" src="img/toolbar/power44.png"/>
                    <span><%= home.signin %></span>
                </a>
            </div>
            <div class="localelink" ng-show="<%= isLocalized %>">
                <a class="dropdown-toggle sprite" data-toggle="dropdown" data-target="locale-menu">
                    <img src="<%= locale.image %>" alt="<%= locale.title %>" >
                    <span><%= locale.title %></span>
                </a>
                <ul class="dropdown-menu" id="locale-menu">
                    <li>
                        <a class="local-dropdown sprite" tabindex="-1" data-target="#modal-lang-en" data-toggle="modal">
                            <img src="<%= locales.en.image %>" alt="<%= locales.en.title %>">
                            <span><%= locales.en.title %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown sprite" href="<%= locales.zh.url %>" tabindex="-1" data-target="#modal-lang-zh" data-toggle="modal">
                            <img src="<%= locales.zh.image %>" alt="<%= locales.zh.title %>">
                            <span><%= locales.zh.title %></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="localelink currencyDropdown" ng-show="<%= isLocalized %>" ng-hide="!BCSession.user._id || BCSession.user.anonymous==true">
                <a class="dropdown-toggle sprite {{BCSession.isGameInProgress||BCSession.lockCurrency?'disabled':''}}" data-toggle="dropdown" data-target="currency-menu" ng-show="BCSession.currency=='bitcoin'">
                    <div>
                        <img src="img/iconbar/bitcoin44.png" alt="<%= home.bitcoin_currency %>" >
                        <span><%= home.bitcoin_currency %></span>
                    </div>
                </a>
                <a class="dropdown-toggle sprite {{BCSession.isGameInProgress||BCSession.lockCurrency?'disabled':''}}" data-toggle="dropdown" data-target="currency-menu" ng-show="BCSession.currency=='dogecoin'">
                    <div>
                        <img src="img/iconbar/dodgecoin44.png" alt="<%= home.dogecoin_currency %>">
                        <span><%= home.dogecoin_currency %></span>
                    </div>
                </a>
                <a class="dropdown-toggle sprite {{BCSession.isGameInProgress||BCSession.lockCurrency?'disabled':''}}" data-toggle="dropdown" data-target="currency-menu" ng-show="BCSession.currency=='litecoin'">
                    <div>
                        <img src="img/iconbar/litecoin44.png" alt="<%= home.litecoin_currency %>" >
                        <span><%= home.litecoin_currency %></span>
                    </div>
                </a>
                <a class="dropdown-toggle sprite {{BCSession.isGameInProgress||BCSession.lockCurrency?'disabled':''}}" data-toggle="dropdown" data-target="currency-menu" ng-show="BCSession.currency=='ppcoin'">
                    <div>
                        <img src="img/iconbar/peercoin44.png" alt="<%= home.ppcoin_currency %>" >
                        <span><%= home.ppcoin_currency %></span>
                    </div>
                </a>
                <a class="dropdown-toggle sprite {{BCSession.isGameInProgress||BCSession.lockCurrency?'disabled':''}}" data-toggle="dropdown" data-target="currency-menu" ng-show="BCSession.currency=='namecoin'">
                    <div>
                        <img src="img/iconbar/peercoin44.png" alt="<%= home.namecoin_currency %>" >
                        <span><%= home.namecoin_currency %></span>
                    </div>
                </a>
                <ul class="dropdown-menu" id="currency-menu">
                    <li>
                        <a class="local-dropdown sprite" tabindex="-1" ng-click="switchActiveCurrency('bitcoin')">
                            <img src="img/iconbar/bitcoin44.png" alt="<%= home.bitcoin_currency %>">
                            <span><%= home.bitcoin_currency %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown sprite" tabindex="-1" ng-click="switchActiveCurrency('dogecoin')">
                            <img src="img/iconbar/dodgecoin44.png" alt="<%= home.dogecoin_currency %>">
                            <span><%= home.dogecoin_currency %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown sprite" tabindex="-1" ng-click="switchActiveCurrency('litecoin')">
                            <img src="img/iconbar/litecoin44.png" alt="<%= home.litecoin_currency %>">
                            <span><%= home.litecoin_currency %></span>
                        </a>
                    </li>
                    <li>
                        <a class="local-dropdown sprite" tabindex="-1" ng-click="switchActiveCurrency('ppcoin')">
                            <img src="img/iconbar/peercoin44.png" alt="<%= home.ppcoin_currency %>">
                            <span><%= home.ppcoin_currency %></span>
                        </a>
                        <a class="local-dropdown sprite" tabindex="-1" ng-click="switchActiveCurrency('namecoin')">
                            <img src="img/iconbar/namecoin44.png" alt="<%= home.namecoin_currency %>">
                            <span><%= home.namecoin_currency %></span>
                        </a>
                    </li>
                </ul>
            </div>
            <bc-info-bar class="hidden-sm hidden-xs pull-right jackpots-desktop"></bc-info-bar>
        </div>
        <div class="clearfix">
        </div>
        <bc-info-bar class="hidden-md hidden-lg text-center clearfix jackpots-mobile"></bc-info-bar>
</nav>
<div id="modal-lang-en" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3><%= confirm.en.title %></h3>
        </div>
        <div class="modal-body">
            <%= confirm.en.content %>
        </div>
        <div class="modal-footer">
            <a href="<%= locales.en.url %>"><button class="btn btn-default" onclick=""><%= confirm.en.ok %></button></a>
            <button class="btn btn-default" data-dismiss="modal"><%= confirm.en.cancel %></button>
        </div>
    </div>
</div>
<div id="modal-lang-zh" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3><%= confirm.zh.title %></h3>
        </div>
        <div class="modal-body">
            <%= confirm.zh.content %>
        </div>
        <div class="modal-footer">
            <a href="<%= locales.zh.url %>"><button class="btn btn-default" onclick=""><%= confirm.zh.ok %></button></a>
            <button class="btn btn-default" data-dismiss="modal"><%= confirm.zh.cancel %></button>
        </div>
    </div>
</div>
