<p>Dear <%= user.alias %>:</p>
<br>
<p>Congratulations! Your <%= params.data.type %> bonus for <%= params.initial %> BTC has been applied to your account. Once you have met the unlock requirement, your bonus will be available for withdrawal.</p>
<br>
<p>The unlock requirement for your bonus is <%= params.unlockMultiplier %>x. That means you'll need to wager <%= params.unlockMultiplier %>x the amount of your bonus plus deposit, or <%= params.unlockAmount %> to unlock the balance for withdrawal.</p>
<br>
<p>Please contact us if you have any questions or concerns. Thank you!</p>
<p>BetCoin Customer Service</p>