<div class="row">
    <h3 ng-show="loading">Loading</h3>
    <div ng-if="error">
        <span class="label label-danger">{{error.error}} - {{error.message}}</span>
    </div>
    <h3 ng-show="pending.result.length == 0">
        <span class="label">No pending cashouts</span>
    </h3>
    <pagination ng-model="currentPage"
                ng-hide="loading || pending.result.length == 0"
                max-size="5"
                ng-change="pageChange(currentPage)"
                items-per-page="listData.pageSize"
                total-items="listData.total"></pagination>
    <table class="table bc-multi-table"
           ng-init="showUserDetails = {}"
           ng-hide="loading || pending.result.length == 0">
        <thead>
            <th>User</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="(index, cashout) in pending.result">
                <td><a ng-href="user/{{cashout.userId}}">{{ cashout.user.username }}</a></td>
                <td>{{ cashout.currency }}</td>
                <td>{{ cashout.currency | cryptosymbol }} {{ cashout.amount | cryptovalue }}</td>
                <td>{{ cashout.createdAt | date:DATE_FORMAT }}</td>
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="sendCashout('send', index)">Send</button>
                    <button class="btn btn-xs btn-primary" ng-click="sendCashout('cancel', index)">Cancel</button>
                    <button class="btn btn-xs btn-primary" ng-click="sendCashout('seize', index)">Sieze</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
