<div class="row">
    <div class="col-md-8">
        <h4>{{lastFetch}} {{ message }} </h4>
        <h4 ng-if="logs.length">{{logs.length}} message{{logs.length>1?"s":""}} from {{ logsStart }} - {{ logsEnd }}</h4>
    </div>
    <div class="col-md-4 form-group form-inline">
        refresh every <input class="form-control"
                             style="min-width:60px !important; width: 60px;"
                             type="number"
                             ng-model="refresh"> seconds
    </div>
</div>
<div class="row">
    <table class="table">
        <tr>
            <td>Level</td>
            <td>User</td>
            <td>Message</td>
            <td>Timestamp</td>
        </tr>
        <tr ng-repeat="log in logs">
            <td>{{log.level}}</td>
            <td>
                <p ng-repeat="(index, username) in log.usernames">
                    <a ng-href="user/{{log.userIds[index]}}">{{ username }}</a>
                </p>
            </td>
            <td>{{log.message}}</td>
            <td>{{log.timestamp|date:DATE_FORMAT}}</td>
        </tr>
    </table>
</div>
