<div class="tabcontent">
    <h1>How to Play</h1>
    <p class="ng-binding"><b class="ng-binding">BetCoin ™ Craps</b> is one of the oldest and most famous casino games. that allows you to wager with the digital currency Bitcoin. It is an easy and fun way to play with and win more Bitcoins!</p>

    <p>The dealer flip three dices. The object of the game is to correctly guess the result of the combination of three dices.</p>
    <br>
    <ol class="padding-left-40">
        <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
        <br>
        <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box. The maximum wager value is adjusted dynamically.</li>
        <br>
        <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and recent bets tabs located below the playing screen.</li>
        <br>
        <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
        <br>
    </ol>
    <h4>Playing Craps</h4>
<h5>Rules</h5>

   <ol>     

    <li><p>3-4-5X odds are allowed.</p></li>

    <li><p>To simplify the game, instead of offering both place and buy bets, just one for each number is offered. Each number pays the better odds between place and buy bets. We at betcoin.tm refer to these as "place bets". They pay 7-6 on the 6 & 8, 7-5 on the 5 & 9, and 39-20 on the 4 & 10.</p></li>

   <li><p>Lay bets pay true odds, but player must prepay a 5% commission, based on the possible win. This works out to odds of 19-25 on the 6 & 8, 19-31 on the 5 & 9, and 19-41 on the 4 & 10.</p></li>

   <li><p>PLACE, hard ways and odds on come bets will be turned off on the come out roll.</p></li>

   <li><p>If the player selects "leave winnings bets up," then only wins will be returned and the original wager will be re-bet. However, winning come and don't come bets are always returned. Winnings odds bets on come bets will remain up if there is a new come bet to associate them with. If the new come bet is less than the winning one, the amount of odds on the table will be the same multiple bet on the odds of the winning bet and the rest returned to the player.</p></li>

  <li><p>Bets may be taken down by shift clicking.</p></li>

  <li><p>Put bets and taking down don't pass and don't come bets, that are already on a number, are not allowed.</p></li>

</ol>

<p>There are several types of bets which can be made.</p>

<ul>

<li><p><b>PASS LINE:</b> Winning numbers on the first roll are 7 or 11; losing numbers are 2, 3, or

12. Any other number that comes up on the first roll is your "point." If you roll your

"point" again before 7 is rolled, you win. If you roll 7 before the "point" you lose and

the dice are passed to the next player.</b></li>

<li><p><b>DON'T PASS:</b> When you bet the Don't Pass, you bet opposite the pass line. You win

if 2 or 3 is rolled. You lose if 7 or 11 is rolled on come out roll. If a 12 is rolled, it is a

"standoff" and no one wins. Any other number that comes up is the point. You win if

7 is rolled before the point is made. The bet is for even money.</p></li>

<li><p><b>COME:</b> Bets on Come can be made at any time after the "point" is established. It is

the same as betting on the Pass Line. You can make a Come bet for even money on

any roll of any shooter.</p></li>

<li><p><b>DON'T COME:</b> Bets on Don't Come are even money and are the reverse of Come

bets. The winning numbers are 2 or 3. You lose on 7 or 11. A 12 is a "standoff." You

can make a Don't Come bet on any roll of the dice. Any other number that comes up

is the point. You win if 7 is rolled before the particular point number upon which you

have placed your bet.<p></li>

<li><p><b>ODDS:</b> You can take Odds on Line Bets and Come Bets. If 6 or 8 is rolled, you are

paid 6 for 5; 5 and 9 pay 7 for 5; 4 and 10 pay 9 for 5. Place Bets can be placed or

removed at any time before a roll.</p></li>

<li><p><b>PLACE & LAY BETS:</b> Lay bets can be made at any time other then on the come out roll. Place bets can be made after the point is established.
    Place bets mean you expect a number of your choice (4, 5, 6, 8, 9, 10) to be rolled before a 7.
    Lay bets mean you expect a 7 to be rolled before a number of your choice (4, 5, 6, 8, 9, 10).</p></li>

<!--<li><p><b>BIG 6 or 8:</b> You win if a 6 or 8 is rolled before a 7. The bet is for even money and can

be placed or removed at any time.</p></li>-->

<li><p><b>FIELD:</b> The Field is a one-roll bet that can be placed at any time. Winning numbers are

2, 3, 4, 9, 10, 11 or 12. All but 2 and 12 pay even money; 2 pays double and 12 pays triple.</p></li>

<!--<li><p><b>HARD WAYS:</b> You win at the odds quoted on the layout (8 for 1, for 4 & 10; and 10 for

1, for 6 & 8) if the exact combination of numbers you bet on comes up. If the number

is rolled in any other combination or a 7 comes up, the house wins. Hopping Hardway

bets are paid 30 for 1 if rolled. All other Hopping bets are paid 15 for 1.</p></li>-->

<li><p><b>ANY 7:</b> This is a one-roll proposition. You can bet any 7 on any roll of the dice. If a 7

is rolled, you win 5 for 1.</p></li>

<li><p><b>ANY CRAPS:</b> This is a one-roll proposition. If 2, 3 or 12 rolls, you win and are paid

8 for 1.</p></li>

<li><p><b>2, 3, 11 OR 12 INDIVIDUALLY:</b> This is a one-roll bet. The winning payoff on 2 or 12 is

30 for 1. The winning payoff on 3 or 11 is 15 for 1.</p></li>

<li><p><b>PRESS:</b> After a winning place bet a pop up will ask you if you want to press your bet on that
    specific number or a series of numbers. This gives a close resemblance to actual casino craps game.
    The options are to press the previous rolled number, Insides (5,6,8,9) or Outsides (4,5,9,10). These
    last 2 options will often cost 3 units as "the point" will not be pressed. Press can be turned ON and
    OFF by selecting the option above the table layout.</p></li>
</ul>
      
   <h4 class="ng-binding">The expected return to player (RTP) for BetCoin™ Craps is between 83.33% and 99%</h4>
    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the source code of the provably fair algorithm.</a>
    </p>

    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
