<div class="tabcontent">
    <h1>游戏说明</h1>
  <p class="ng-binding"><b class="ng-binding">财神骰™</b> 是一个最流行的博彩游戏即赌场骰子的比特币版，比特币赌场骰子允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或则用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>
    <h4>玩财神骰™</h4>
<h5>规则</h5>

   <ol>     

    <li><p>允许 3-4-5倍加注押来。</p></li>

    <li><p>为了简化游戏，我们只提供押置赢来取代押置买。每个号码的赔率在押置赢与押置买的原始赔率之间。我们betcoin.tm称此为“押置赢”。6和8的赔率为7-6，5和9的赔率为7-5，4和10的赔率为39-20。</p></li>

   <li><p>对于押不买，赔率基于游戏概率，玩家需要预付5%佣金。6和8的赔率为19-25，5和9的赔率为19-31，4和10的赔率为19-41。</p></li>

   <li><p>押置赢，押置难，加注押来的所有押注会在摇来后处于失效状态。</p></li>

   <li><p>如果玩家选择“重新下注赢注: 开”，那么只有赌注赢额会被返还，原始赌注额度会被重新下注。但是，押来和押不来的赌注会全额返还。加注押来的赌注的原始额度会保留，如果有一个新的押来赌注跟它们相关。如果新的押来赌注少于赢得的押来赌注，加注押来赌注的额度会基于赢得的押来赌注的加注倍数，其余返还给玩家。</p></li>

  <li><p>长按下注筹码，可能返还下注。</p></li>

  <li><p>不允许取消押来或押不来上面数字的筹码。</p></li>

</ol>

<p>以下是不同种类的下注。</p>

<ul>

<li><p><b>通关:</b> 当第一次摇骰为7或11，就赢得赌注；当摇骰为 2, 3, 或则

12，输掉赌注。其它的第一次摇骰数字为基准点。如果您在摇中7之前，摇中基准点，您就赢。如果先摇中7，那么您就输。</b></li>

<li><p><b>不通关:</b> 当您下注不通关，赌注逻辑相反与通关。如果摇中2 或 3，您就赢。如果摇中7 或 11，您输。如果摇中12，没有人赢。如果在摇中基准点之前摇中7，您赢。赔率为1:1</p></li>

<li><p><b>押来:</b> 对押来的下注可以在基准点后进行。类似于通关的押注。您的押来下注可能成为任何基准点的押来赌注。赔率为1:1</p></li>

<li><p><b>押不来:</b> 下注逻辑相反于押来。摇中2或3，您就赢。摇中7或则11，您就输。摇中12，没人输赢。您能在基准点产生后，下注押不来。当摇中押不来的号码之前，摇中7，您赢。<p></li>

<li><p><b>加注:</b> 您可以在通关线和押来赌注的基础之上，加注。如果6或8摇中，赔率为6-5; 5或9 赔率为 7－5; 4或10 赔率为9－5。押置赢注可以在任何时候取消。</p></li>

<li><p><b>押置赢 和 押置输 赌注:</b> 押置输可以在任何时间下注，压制赢要在有基准点之后才能下注。
    押置赢下注，代表您猜（4, 5, 6, 8, 9, 10）会在摇中7之前摇中。
    押置输下注，代表您猜7会在摇中（4, 5, 6, 8, 9, 10）之前摇中。</p></li>

<!--<li><p><b>BIG 6 or 8:</b> You win if a 6 or 8 is rolled before a 7. The bet is for even money and can

be placed or removed at any time.</p></li>-->

<li><p><b>区域:</b> 可以在任何时候下注区域，一次性得出结果。摇中

2, 3, 4, 9, 10, 11 或者 12，就赢。除了2和12，其它数字的赔率为1－1；2赔率为2-1，12的赔率为3-1。</p></li>

<!--<li><p><b>HARD WAYS:</b> You win at the odds quoted on the layout (8 for 1, for 4 & 10; and 10 for

1, for 6 & 8) if the exact combination of numbers you bet on comes up. If the number

is rolled in any other combination or a 7 comes up, the house wins. Hopping Hardway

bets are paid 30 for 1 if rolled. All other Hopping bets are paid 15 for 1.</p></li>-->

<li><p><b>ANY 7(七点区):</b> 一次性赌注。赌注摇中7，赔率为4-1.</p></li>

<li><p><b>ANY CRAPS（押随意）:</b> 一次性赌注。如果2，3 或则12摇中，您赢，赔率为7-1.</p></li>

<li><p><b>2, 3, 11 或则 12 单独:</b> 一次性赌注。2或12的赔率为30-1，3或则11的赔率为15-1。</p></li>

<li><p><b>叠加下注:</b> 在赢得赌注时，会跳出一个对话框，问是否叠加赌注在赢得的赌注上面。这类似于现场赌场的操作模式。
    选项有叠加原始下注，叠加内部 (5,6,8,9) or 叠加外部 (4,5,9,10)。最后两个选项经常会消耗3个单元，因为基准点不能被叠加。叠加选项可以在右上角打开或关闭。</p></li>
</ul>
      
   <h4 class="ng-binding">财神骰™ 的回报率在 83.33% 和 99%之间</h4>
    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a>
    </p>

    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
