<div class="tabcontent">
  <h1>如何游戏</h1>
  <p class="ng-binding"><b class="ng-binding">财神战 ™b> 是一个经典的扑克游戏，允许您用比特币下注。非常简单、有趣，并能赢更多的比特币！</p>
  <br>
  <ol style="padding-left:40px;">
    <li class="ng-binding"><b class="ng-binding">登入或注册</b>，或则用您的比特币钱包来进行匿名游戏</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">充值比特币</b>到游戏为您设定的专用比特币存款地址</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">用滑块、余额百分比按钮、增量按钮或在下注框上单击并输入金额</b>，选择下注金额</li>
    <br>
    <li class="ng-binding">检查您的进度，用游戏屏幕下方的游戏“高手排名榜”和“近期游戏”标签，可以跟踪全球的玩家</li>
    <br>
    <li class="ng-binding">静止 30 分钟后或关闭浏览器后，您的余额会自动返还给您</li>
    <br>
  </ol>

<!-- <h4>Pay Table</h4>

<div data-ng-include data-src="'tpl/paytables.html'"></div> -->

  <h4>玩财神战扑克游戏</h4>
  <ol>
  <li><p>在每场游戏中，一副52张扑克牌会被洗牌，而前7张牌会被用来游戏。</p></li>
  <li><p>决定扑克的大小： Ace 最大。扑克花色不分大小。</p></li>
  <li><p>庄家和您会各分发一张牌。</p></li>
  <li><p>如果您的牌大于庄家 － 您就赢！</p></li>
  <li><p>如果庄家的牌大 － 对不起，你就输。</p></li>
  <li><p>如果两张牌一样大，(批对) 您可以选择战争！</br>用第二张牌打败庄家 - 或则 - 投降获取一半的战胜奖金</p></li>
  <li><p>破坏或作弊行为将不能得到转账，并不允许参与游戏。</p></li>
  </ol>
  <h4>战争</h4>
  <ol>
      <li><p>如果选择战争，您将会需要在起始投注的基础上再以一样的金额投注，从而<span class="text-bold text-underline">双倍投注</span>！</p></li>
      <li><p>庄家和您和各分发一张新牌。</p></li>
      <li><p>如果您的牌大于庄家的，您就能在所投注金额的基础上，赢<span class="text-bold text-underline">双倍金额</span>。</p></li>
      <li><p>如果你在战争的时候，牌与庄家批对，也算您赢！</p></li>
      <li><p>If you win the War your original bet will push.</p></li>
  </ol>
  <h4>批对下注</h4>
  <ol>
      <li><p>觉得运气不错？点击 <span class="text-bold text-underline">批对下注</span> 打勾框，赢取10倍赌注！</p></li>
      <li><p></p>打勾批对下注，代表您赌注的是下一盘的第一张牌会是个批对。</li>
      <li><p></p>下注额度跟你正常下注一样。</li>
      <li><p></p>如果您的牌与庄家批对，您将会赢取10倍的赌注！</li>
  </ol>

  <h4 class="ng-binding">财神战™ 的玩家回报率是多少？</h4>
  <p class="ng-binding">玩家回报率是97.12%</p>

  <h4 class="ng-binding">每盘游戏有没有最低赌注限制？</h4>
  <p class="ng-binding">最低赌注为0.000001 个比特币</p><p></p>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击这里显示用来验证游戏公平性的代码</a></p>
  <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
