<div>
    <div class="gameLink col-xs-3" ng-mouseenter="circletip = true" ng-mouseleave="circletip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.circle_link %>">
                <img class="img-responsive center-block" alt="<%= home.circle_alt %>" src="<%= home.circle_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.circle_link %>">
                <img class="img-responsive center-block" alt="<%= home.circle_alt %>" src="<%= home.circle_word_image %>" />
            </a>
        </div>
        <div ng-show="circletip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.circle_link %>"><%= home.circle_link_hover %></a></div>
    </div>
    <div class="gameLink col-xs-3" ng-mouseenter="dicetip = true" ng-mouseleave="dicetip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.dice_link %>">
                <img class="img-responsive center-block" alt="<%= home.dice_alt %>" src="<%= home.dice_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.dice_link %>">
                <img class="img-responsive center-block" alt="<%= home.dice_alt %>" src="<%= home.dice_word_image %>" />
            </a>
        </div>
        <div ng-show="dicetip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.dice_link %>"><%= home.dice_link_hover %></a></div>
    </div>
    <div class="gameLink col-xs-3" ng-mouseenter="lotterytip = true" ng-mouseleave="lotterytip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.lottery_link %>">
                <img class="img-responsive center-block" alt="<%= home.lottery_alt %>" src="<%= home.lottery_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.lottery_link %>">
                <img class="img-responsive center-block" alt="<%= home.lottery_alt %>" src="<%= home.lottery_word_image %>" />
            </a>
        </div>
        <div ng-show="lotterytip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.lottery_link %>"><%= home.lottery_link_hover %></a></div>
    </div>

    <div class="gameLink col-xs-3" ng-mouseenter="reelstip = true" ng-mouseleave="reelstip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.reels_link %>">
                <img class="img-responsive center-block" alt="<%= home.reels_alt %>" src="<%= home.reels_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.reels_link %>">
                <img class="img-responsive center-block" alt="<%= home.reels_alt %>" src="<%= home.reels_word_image %>" />
            </a>
        </div>
        <div ng-show="reelstip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.reels_link %>"><%= home.reels_link_hover %></a></div>
    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="tilestip = true" ng-mouseleave="tilestip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.tiles_link %>">
                <img class="img-responsive center-block" alt="<%= home.tiles_alt %>" src="<%= home.tiles_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.tiles_link %>">
                <img class="img-responsive center-block" alt="<%= home.tiles_alt %>" src="<%= home.tiles_word_image %>" />
            </a>
        </div>
        <div ng-show="tilestip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.tiles_link %>"><%= home.tiles_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="crapstip = true" ng-mouseleave="crapstip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.craps_link %>">
                <img class="img-responsive center-block" alt="<%= home.craps_alt %>" src="<%= home.craps_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.craps_link %>">
                <img class="img-responsive center-block" alt="<%= home.craps_alt %>" src="<%= home.craps_word_image %>" />
            </a>
        </div>
        <div ng-show="crapstip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.craps_link %>"><%= home.craps_link_hover %></a></div>

    </div>
   <div class="gameLink col-xs-3"  ng-mouseenter="baccpotip = true" ng-mouseleave="baccpotip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.baccpo_link %>">
                <img class="img-responsive center-block" alt="<%= home.baccpo_alt %>" src="<%= home.baccpo_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.baccpo_link %>">
                <img class="img-responsive center-block" alt="<%= home.baccpo_alt %>" src="<%= home.baccpo_word_image %>" />
            </a>
        </div>
        <div ng-show="baccpotip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.baccpo_link %>"><%= home.baccpo_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="tigerdragontip = true" ng-mouseleave="tigerdragontip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.tigerdragon_link %>">
                <img class="img-responsive center-block" alt="<%= home.tigerdragon_alt %>" src="<%= home.tigerdragon_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.tigerdragon_link %>">
                <img class="img-responsive center-block" alt="<%= home.tigerdragon_alt %>" src="<%= home.tigerdragon_word_image %>" />
            </a>
        </div>
        <div ng-show="tigerdragontip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.tigerdragon_link %>"><%= home.tigerdragon_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="fantantip = true" ng-mouseleave="fantantip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.fantan_link %>">
                <img class="img-responsive center-block" alt="<%= home.fantan_alt %>" src="<%= home.fantan_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.fantan_link %>">
                <img class="img-responsive center-block" alt="<%= home.fantan_alt %>" src="<%= home.fantan_word_image %>" />
            </a>
        </div>
        <div ng-show="fantantip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.fantan_link %>"><%= home.fantan_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="roulettetip = true" ng-mouseleave="roulettetip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.roulette_link %>">
                <img class="img-responsive center-block" alt="<%= home.roulette_alt %>" src="<%= home.roulette_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.roulette_link %>">
                <img class="img-responsive center-block" alt="<%= home.roulette_alt %>" src="<%= home.roulette_word_image %>" />
            </a>
        </div>
        <div ng-show="roulettetip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.roulette_link %>"><%= home.roulette_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="sicbotip = true" ng-mouseleave="sicbotip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.sicbo_link %>">
                <img class="img-responsive center-block" alt="<%= home.sicbo_alt %>" src="<%= home.sicbo_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.sicbo_link %>">
                <img class="img-responsive center-block" alt="<%= home.sicbo_alt %>" src="<%= home.sicbo_word_image %>" />
            </a>
        </div>
        <div ng-show="sicbotip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.sicbo_link %>"><%= home.sicbo_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="paigowtip = true" ng-mouseleave="paigowtip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.paigow_link %>">
                <img class="img-responsive center-block" alt="<%= home.paigow_alt %>" src="<%= home.paigow_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.paigow_link %>">
                <img class="img-responsive center-block" alt="<%= home.paigow_alt %>" src="<%= home.paigow_word_image %>" />
            </a>
        </div>
        <div ng-show="paigowtip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.paigow_link %>"><%= home.paigow_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="blackjacktip = true" ng-mouseleave="blackjacktip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.blackjack_link %>">
                <img class="img-responsive center-block" alt="<%= home.blackjack_alt %>" src="<%= home.blackjack_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.blackjack_link %>">
                <img class="img-responsive center-block" alt="<%= home.blackjack_alt %>" src="<%= home.blackjack_word_image %>" />
            </a>
        </div>
        <div ng-show="blackjacktip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.blackjack_link %>"><%= home.blackjack_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="baccarattip = true" ng-mouseleave="baccarattip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.baccarat_link %>">
                <img class="img-responsive center-block" alt="<%= home.baccarat_alt %>" src="<%= home.baccarat_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.baccarat_link %>">
                <img class="img-responsive center-block" alt="<%= home.baccarat_alt %>" src="<%= home.baccarat_word_image %>" />
            </a>
        </div>
        <div ng-show="baccarattip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.baccarat_link %>"><%= home.baccarat_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="hilotip = true" ng-mouseleave="hilotip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.hilo_link %>">
                <img class="img-responsive center-block" alt="<%= home.hilo_alt %>" src="<%= home.hilo_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.hilo_link %>">
                <img class="img-responsive center-block" alt="<%= home.hilo_alt %>" src="<%= home.hilo_word_image %>" />
            </a>
        </div>
        <div ng-show="hilotip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.hilo_link %>"><%= home.hilo_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="fortunetip = true" ng-mouseleave="fortunetip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.fortune_link %>">
                <img class="img-responsive center-block" alt="<%= home.fortune_alt %>" src="<%= home.fortune_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.fortune_link %>">
                <img class="img-responsive center-block" alt="<%= home.fortune_alt %>" src="<%= home.fortune_word_image %>" />
            </a>
        </div>
        <div ng-show="fortunetip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.fortune_link %>"><%= home.fortune_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="kenotip = true" ng-mouseleave="kenotip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.keno_link %>">
                <img class="img-responsive center-block" alt="<%= home.keno_alt %>" src="<%= home.keno_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.keno_link %>">
                <img class="img-responsive center-block" alt="<%= home.keno_alt %>" src="<%= home.keno_word_image %>" />
            </a>
        </div>
        <div ng-show="kenotip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.keno_link %>"><%= home.keno_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="wartip = true" ng-mouseleave="wartip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.war_link %>">
                <img class="img-responsive center-block" alt="<%= home.war_alt %>" src="<%= home.war_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.war_link %>">
                <img class="img-responsive center-block" alt="<%= home.war_alt %>" src="<%= home.war_word_image %>" />
            </a>
        </div>
        <div ng-show="wartip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.war_link %>"><%= home.war_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="fliptip = true" ng-mouseleave="fliptip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.flip_link %>">
                <img class="img-responsive center-block" alt="<%= home.flip_alt %>" src="<%= home.flip_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.flip_link %>">
                <img class="img-responsive center-block" alt="<%= home.flip_alt %>" src="<%= home.flip_word_image %>" />
            </a>
        </div>
        <div ng-show="fliptip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.flip_link %>"><%= home.flip_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="threecardtip = true" ng-mouseleave="threecardtip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.threecard_link %>">
                <img class="img-responsive center-block" alt="<%= home.threecard_alt %>" src="<%= home.threecard_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.threecard_link %>">
                <img class="img-responsive center-block" alt="<%= home.threecard_alt %>" src="<%= home.threecard_word_image %>" />
            </a>
        </div>
        <div ng-show="threecardtip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.threecard_link %>"><%= home.threecard_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="caribbeantip = true" ng-mouseleave="caribbeantip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.caribbean_link %>">
                <img class="img-responsive center-block" alt="<%= home.caribbean_alt %>" src="<%= home.caribbean_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.caribbean_link %>">
                <img class="img-responsive center-block" alt="<%= home.caribbean_alt %>" src="<%= home.caribbean_word_image %>" />
            </a>
        </div>
        <div ng-show="caribbeantip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.caribbean_link %>"><%= home.caribbean_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="videopokertip = true" ng-mouseleave="videopokertip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.videopoker_link %>">
                <img class="img-responsive center-block" alt="<%= home.videopoker_alt %>" src="<%= home.videopoker_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.videopoker_link %>">
                <img class="img-responsive center-block" alt="<%= home.videopoker_alt %>" src="<%= home.videopoker_word_image %>" />
            </a>
        </div>
        <div ng-show="videopokertip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.videopoker_link %>"><%= home.videopoker_link_hover %></a></div>

    </div>
    <div class="gameLink col-xs-3"  ng-mouseenter="ultimatepokertip = true" ng-mouseleave="ultimatepokertip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.ultimatepoker_link %>">
                <img class="img-responsive center-block" alt="<%= home.ultimatepoker_alt %>" src="<%= home.ultimatepoker_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.ultimatepoker_link %>">
                <img class="img-responsive center-block" alt="<%= home.ultimatepoker_alt %>" src="<%= home.ultimatepoker_word_image %>" />
            </a>
        </div>
        <div ng-show="ultimatepokertip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.ultimatepoker_link %>"><%= home.ultimatepoker_link_hover %></a></div>

    </div>

    <div class="gameLink col-xs-3"  ng-mouseenter="casinotip = true" ng-mouseleave="casinotip = false">
        <div class="icon">
            <a target="_self" href="<%= httplink %><%= home.casino_link %>">
                <img class="img-responsive center-block" alt="<%= home.casino_alt %>" src="<%= home.casino_icon_image %>" />
            </a>
        </div>
        <div>
            <a target="_self" href="<%= httplink %><%= home.casino_link %>">
                <img class="img-responsive center-block" alt="<%= home.casino_alt %>" src="<%= home.casino_word_image %>" />
            </a>
        </div>
        <div ng-show="casinotip" class="hometip panel"><a target="_self" href="<%= httplink %><%= home.casino_link %>"><%= home.casino_link_hover %></a></div>

    </div>

</div>
