<!--

Dear potential partners,


Welcome to the BetCoin ™ Affiliate Program!


Allow me to introduce myself, my name is Adrian Reidy and I'm the Marketing Director here at BetCoin ™. Welcome to the initial step of being more profitable economically, which is joining us.


Since I began as an affiliate myself, I know that by working hard you see the fruition of your efforts, and I'm more than happy to share the extensive marketing experience I've acquired throughout the years.


Here at BetCoin ™ we are devoted to provide outstanding service, helping affiliates grow and increase their traffic and revenue at the same time.


BetCoin ™ has the best affiliate program designed specifically to meet the needs of bitcoin-based casino and gaming affiliates 365 days a year!


Consultation with bitcoin-based casino and gaming affiliates has enabled us to create an affiliate program that offers fantastic gaming sites with excellent offers and player retention. Our easily obtainable high commissions and reporting tools are second to none.


Our bitcoin-based casino and gaming affiliates program operates under different modalities: Revenue Share, CPA and a hybrid of the previous two, enabling our bitcoin-based casino and gaming affiliates to obtain fair revenue.


Real time stats, timely payments, customized landing pages and marketing tools are just some of the services you can take advantage of to make your time with BetCoin ™ a positive and rich experience!


I look forward to working with you.


Best regards,


Marketing Director
adrian.reidy@betcoin.tm
www.betcoin.tm
-->
    <h1>"Introduce a Friend" Double Reward Promotion and  Betcoin™ Affiliate Referral Program</h1>
    <h3>By referring others to BetCoin™ you will be rewared with up to 38% of the house edge on all bets they made.</h3>
    <h3>Earnings will be deposited into your account INSTANTLY!</h3>
    <h3>Referred accounts will continuously generate earnings for you forever, and there is no limit on how much you can earn!</h3>


    <h3>Most importantly,  your friends and players you refer via your affiliate link will enjoy the following amazing benefits: </h3>
    <ol><li>Instant Gold VIP status upon registration, which will allow them to immediately enjoy the 5.88% cashbacks!</li><li>
2) The first deposit match bonus of 350% instead of the regular 300% - up to 888 BTC. The second deposit match bonus of 200% instead of the regular 108% - up to 888 BTC. The third deposit match bonus of 188% instead of the regular 108% - up to 888 BTC. Each referred player that makes the first deposit and receives a 350% match bonus - will enable the referring player to apply for a 350% match deposit bonus up to 888 BTC.
</li><li>More than double the amount of the standard USD $5,888 free no-deposit welcome bonus -  a whopping USD $11,888 worth of bitcoin!!!
</li><li>Each level of VIP upgrade by one of your affiliates will result in an automatic VIP level upgrade for you, and each VIP level upgrade means faster prioritized cashouts and more readily available dedicated account manager and customer support.

</li><li>Fast-track approval of a strong line of credit for qualified affiliate players, which will benefit both your friends and yourself, as you will be earning more commission!    
</li></ol>
    <p>The house edge on each game is variable. On some games, the amount of the wager applied to your affiliate earnings will be adjusted according to the win chance or house edge of a particular bet type.</p>
    <p>Note: wagers by players using BTC provided by our bonus system will not count towards your affiliate earnings.</p>
    <h5>Are you a large affiliate with special needs? Do you have any questions or concerns? <a href="/support">Contact us</a>.</h5>

    <h4>Revenue Sharing Affiliate Payouts</h4>
    <p>Your affiliate reward is based on your total affiliate earnings. The more you earn, the higher your rewards will be.</p>
    <table class="table gamesTable">
        <thead>
            <tr>
                <th>Level</th>
                <th>Earning Requirement</th>
                <th>Percent of House Edge</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Silver</td>
                <td>Total Earnings &lt; 0.01 BTC</td>
                <td>8% of house edge</td>
            </tr>
            <tr>
                <td>Gold</td>
                <td>Total Earnings 0.01 - 0.1 BTC</td>
                <td>18% of house edge</td>
            </tr>
            <tr>
                <td>Platinum</td>
                <td>Total Earnings 0.1 - 1 BTC</td>
                <td>28% of house edge</td>
            </tr>
            <tr>
                <td>Diamond</td>
                <td>Total Earnings &gt; 1 BTC</td>
                <td>38% of house edge</td>
            </tr>
        </tbody>
    </table>
    <h4>Minimum House Edge for BetCoin™ Games</h4>
    <table class="table gamesTable">
        <thead>
            <tr>
                <th>Game Name</th>
                <th>BET/RULES</th>
                <th>House Edge</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Circle</td>
                <td>&nbsp;</td>
                <td>1.65%</td>
            </tr>
            <tr>
                <td>Reels</td>
                <td>&nbsp;</td>
                <td>1.65%</td>
            </tr>
            <tr>
                <td>Dice</td>
                <td>&nbsp;</td>
                <td>1.88%</td>
            </tr>
            <tr>
                <td>Tiles</td>
                <td>&nbsp;</td>
                <td>1.50%</td>
            </tr>
            <tr>
                <td rowspan="3">Baccpo</td>
                <td>Win</td>
                <td>3.02%</td>
            </tr>
            <tr>
                <td>Tie</td>
                <td>16.38%</td>
            </tr>
            <tr>
                <td>Bonus</td>
                <td>9.85%</td>
            </tr>
            <tr>
                <td rowspan="5">Tiger Dragon</td>
                <td>Dragon/Tiger</td>
                <td>3.73%</td>
            </tr>
            <tr>
                <td>Tie</td>
                <td>32.77%</td>
            </tr>
            <tr>
                <td>Suited Tie</td>
                <td>13.98%</td>
            </tr>
            <tr>
                <td>Big/Small</td>
                <td>7.69%</td>
            </tr>
            <tr>
                <td>Suit</td>
                <td>7.69%</td>
            </tr>
            <tr>
                <td rowspan="5">Fan Tan</td>
                <td>Fan</td>
                <td>3.75%</td>
            </tr>
            <tr>
                <td>Nim</td>
                <td>2.50%</td>
            </tr>
            <tr>
                <td>Kwok</td>
                <td>2.50%</td>
            </tr>
            <tr>
                <td>Nga Tan</td>
                <td>1.25%</td>
            </tr>
            <tr>
                <td>Sheh-Sam-Hong</td>
                <td>1.25%</td>
            </tr>
            <tr>
                <td>Roulette</td>
                <td>Single Zero</td>
                <td>2.7%</td>
            </tr>
            <tr>
                <td rowspan="2">Three Card Poker</td>
                <td>Pairplus</td>
                <td>7.28%</td>
            </tr>
            <tr>
                <td>Ante / play</td>
                <td>3.37%</td>
            </tr>
            <tr>
                <td>Video Poker</td>
                <td>Jacks or Better (Full Pay)</td>
                <td>0.46%</td>
            </tr>
            <tr>
                <td>Caribbean Poker</td>
                <td>&nbsp;</td>
                <td>5.22%</td>
            </tr>
            <tr>
                <td>Keno</td>
                <td>&nbsp;</td>
                <td>~5%</td>
            </tr>
            <tr>
                <td>Sic Bo</td>
                <td>&nbsp;</td>
                <td>2.78% ~ 33.33%</td>
            </tr>
            <tr>
                <td rowspan="6">Fortune</td>
                <td>Number 1</td>
                <td>7.69%</td>
            </tr>
            <tr>
                <td>Number 3</td>
                <td>7.69%</td>
            </tr>
            <tr>
                <td>Number 5</td>
                <td>7.69%</td>
            </tr>
            <tr>
                <td>Number 10</td>
                <td>15.38%</td>
            </tr>
            <tr>
                <td>Number 20</td>
                <td>19.23%</td>
            </tr>
            <tr>
                <td>Number 45</td>
                <td>11.54%</td>
            </tr>
            <tr>
                <td>Flip</td>
                <td>&nbsp;</td>
                <td>1.65%</td>
            </tr>
            <tr>
                <td rowspan="2">Baccarat</td>
                <td>Banker</td>
                <td>1.06%</td>
            </tr>
            <tr>
                <td>Player</td>
                <td>1.24%</td>
            </tr>
            <tr>
                <td>Paigow</td>
                <td>&nbsp;</td>
                <td>1.50%</td>
            </tr>
            <tr>
                <td>Blackjack</td>
                <td>&nbsp;</td>
                <td>1.1%</td>
            </tr>
            <tr>
                <td rowspan="3">War</td>
                <td>Go to war on ties</td>
                <td>2.88%</td>
            </tr>
            <tr>
                <td>Surrender on ties</td>
                <td>3.70%</td>
            </tr>
            <tr>
                <td>Bet on ties</td>
                <td>18.65%</td>
            </tr>
            <tr>
                <td>Hilo</td>
                <td>&nbsp;</td>
                <td>1.65%</td>
            </tr>
            <tr>
                <td>Ultimate Poker</td>
                <td>Ante / Blind / Play</td>
                <td>2.18%</td>
            </tr>
            <tr>
                <td>Craps</td>
                <td>&nbsp;</td>
                <td>1% ~ 16.67%</td>
            </tr>            
        </tbody>
    </table>
    <h4>CPA Earnings</h4>
    <p>If you are interested in earning affiliate income based on CPA (cost-per-acquisition), please <a href="/support"> contact us</a>.</p>
    <div ng-show="affiliateToken">
        <h4>My Affiliate Referal Link</h4>
        <div class="panel"><div class="panel-body"><h4><%= httpslink %>/?r={{ affiliateToken }}</h4></div></div>

        <p>To start earning rewards, refer associates to the link above. You can paste the link as-is, or you can use a banner from our package of banners, or even create your own banner advertisements</p>
        <!-- IMPORTANT: DURING TRANSLATION, OMIT THIS BANNER DOWNLOAD AREA FOR OTHER LANGUAGES... FOR NOW -->
        <p><a target="_blank" href="/banners-en.zip">Click here to download the BetCoin™ banners</a></p>
        <!-- END OMISSION -->

        <h4>My Total Earnings</h4>
        <div ng-repeat="(currency, total) in earnings" class="panel">
            <div class="panel-body">
                <h1>{{ currency | cryptosymbol }} {{ earnings[currency] | cryptovalue }}</h1>
                Current Tier:
                <div class="btn-group">
                    <button class="btn btn-default" ng-disabled="levelInfo.level!=1">Silver</button>
                    <button class="btn btn-default" ng-disabled="levelInfo.level!=2">Gold</button>
                    <button class="btn btn-default" ng-disabled="levelInfo.level!=3">Platinum</button>
                    <button class="btn btn-default" ng-disabled="levelInfo.level!=4">Diamond</button>
                </div>
                <br>
                <!-- Next Tier:
                <button class="btn btn-default" ng-show="levelInfo.level==1">Gold</button>
                <button class="btn btn-default" ng-show="levelInfo.level==2">Platinum</button>
                <button class="btn btn-default" ng-show="levelInfo.level==3">Diamond</button> -->
                <br>
                <table class="table" ng-show="levelInfo.level!=4">
                    <tbody>
                        <tr>
                            <td>To Reach Next Level</td>
                            <td>{{ currency | cryptosymbol }} {{ levelInfo[currency].nextLevelAmount | cryptovalue }}</td>
                        </tr>
                        <tr>
                            <td>Amount Left</td>
                            <td>
                                {{ currency | cryptosymbol }}&nbsp;
                                {{ (levelInfo[currency].nextLevelAmount - levelInfo[currency].currentAmount) | cryptovalue }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <percent-slider ng-show="levelInfo.level!=4"
                                min="{{levelInfo[currency].currentMinAmount}}"
                                max="{{levelInfo[currency].nextLevelAmount}}"
                                step="1"
                                percent-slider-value="levelInfo.currentAmount"
                                disabled>
            </div>
        </div>

        <h4>My Associates</h4>
        <p>Associates are players that you have refered. Each player can only be associated with you once you have refered them, and you start earning on the first wager.</p>
        <div data-ng-include data-src="'tpl/affiliate-associates.html'"></div>
        <h4>Transactions <span class="smallfont">({{ range.start | date:'yyyy-MM-dd HH:mm:ss' }} - {{ range.end | date:'yyyy-MM-dd HH:mm:ss' }})</span></h4>
        <div data-ng-include data-src="'tpl/affiliate-transactions.html'"></div>

    </div>
