<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">

				<h3><%= text.password_reset_title %></h3>
				<form name="passwordForm" novalidate>
					<div class="form-group">
						<label for="" class="control-label"><%= text.your_wallet_address_password_reset %></label>
						<input type="text" autocorrect="off" autocapitalize="off" class="form-control text-center" ng-model="walletAddress" ng-blur="verifyAddress()">
						<div ng-show="username!=null"><%= text.alias%>:&nbsp;{{username}}</div>
					</div>
					<div>
						<h4><%= text.verify_wallet_list %></h4>
						<p><a href="https://multibit.org/en/help/v0.5/help_signAndVerifyMessage.html" target="_blank">MultiBit</a></p>
						<p><a href="https://blockchain.info/wallet/wallet-faq" target="_blank">Blockchain.info</a></p>
						<h4><%= text.verify_wallet_info %></h4>
						<ol>
							<li><%= text.verify_p1 %></li>
							<li><%= text.verify_p2 %>{{walletAddress}}</li>
							<li><%= text.verify_p3 %>{{challenge}}</li>
							<li><%= text.verify_p4 %></li>
							<li><%= text.verify_p5 %></li>
							<li><%= text.verify_p6 %></li>
						</ol>
						<div class="form-group">
							<label for="" class="control-label"><%= text.message_sign %></label>
							<input type="text" autocorrect="off" autocapitalize="off" class="form-control" placeholder="message-to-sign-example" ng-model="challenge">
						</div>
						<div class="form-group">
							<label for="" class="control-label"><%= text.forgot_signed_message %></label>
							<input type="text" autocorrect="off" autocapitalize="off" class="form-control" placeholder="" ng-model="textSigned">
						</div>
						<div class="form-group">
							<label for="" class="control-label"><%= text.new_password %></label>
							<input type="password" class="form-control" name="password" placeholder="" ng-keyup="validatePassword()" ng-minlength="10" ng-maxlength="64" ng-model="newPassword" bc-popover="{{(passwordForm.password.$invalid && passwordForm.password.$dirty)}}" required>
							<div class="errors hide">
						        <span class="error" ng-show="passwordForm.password.$error.minlength"><%= text.password_min_length %></span>
						        <span class="error" ng-show="passwordForm.password.$error.maxlength"><%= text.password_max_length %></span>
	                            <span class="error" ng-show="passwordForm.password.$error.required"><%= text.enterpassword %></span>
							</div>
						</div>
						<div class="errors" ng-show="invalidPassword||isNotEqual">
	            			<span class="error" ng-show="invalidPassword"><%= text.invalid_password %></span>
		                	<span class="error" ng-show="isNotEqual"><%= text.password_validation %></span>
						</div>
						<div class="form-group">
							<label for="" class="control-label"><%= text.confirm_password %></label>
							<input type="password" class="form-control" name="confirm_password" ng-keyup="validatePassword()" placeholder="" ng-minlength="10" ng-maxlength="64" ng-model="confirmPassword" bc-popover="{{(passwordForm.confirm_password.$invalid && passwordForm.confirm_password.$dirty)}}" required>
							<div class="errors hide">
						        <span class="error" ng-show="passwordForm.confirm_password.$error.minlength"><%= text.password_min_length %></span>
						        <span class="error" ng-show="passwordForm.confirm_password.$error.maxlength"><%= text.password_max_length %></span>
	                            <span class="error" ng-show="passwordForm.confirm_password.$error.required"><%= text.enterpassword %></span>
							</div>
						</div>
						<button ladda="resetting" class="btn btn-primary btn-block" ng-disabled="passwordForm.$invalid||isNotEqual||invalidPassword" ng-click="verifyWallet()" bc-popover="{{error != null}}||isNotEqual||invalidPassword" bc-popover-direction="top"><%= buttons.password_reset %></button>
						<div class="errors hide">
							<span class="error">{{error}}</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
