<div class="tabcontent">
  <h1>How to Play</h1>
  <p class="ng-binding">Play the classic game of Roulette, one of the oldest and best known of casino games.<b class="ng-binding">BetCoin ™ Roulette</b> allows you to wager and win with the digital currency Bitcoin.</p>

  <ol class="padding-left-40">
    <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box.  The maximum wager value is adjusted dynamically.</li>
    <br>
    <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and Recent Spins tabs located below the playing screen.</li>
    <br>
    <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
    <br>
  </ol>
  <p>A wheel with 37 numbers from 0 to 36 is spun to randomly select a number for each game.</p>
  <p>players may choose to place bets on either a single number or a range of numbers, the colors red or black, or whether the number is odd or even.</p>
  <p>The player is paid out (see below table) for every winning combination from their placed bets.</p>
  <br>
  <h4>Payouts</h4>
  <table><tbody><tr><th>Bet</th><th>Payout Odds</th></tr><tr><td>One number</td><td>35 to 1</td></tr><tr><td>Two numbers</td><td>17 to 1</td></tr><tr><td>Three numbers</td><td>11 to 1</td></tr><tr><td>Four numbers</td><td>8 to 1</td></tr><tr><td>Six numbers</td><td>5 to 1</td></tr><tr><td>Column</td><td>2 to 1</td></tr><tr><td>Dozen</td><td>2 to 1</td></tr><tr><td>Low (1-18)</td><td>1 to 1</td></tr><tr><td>High (19-36)</td><td>1 to 1</td></tr><tr><td>Even</td><td>1 to 1</td></tr><tr><td>Odd</td><td>1 to 1</td></tr><tr><td>Red</td><td>1 to 1</td></tr><tr><td>Black</td><td>1 to 1</td></tr></tbody></table>

  <h4 class="ng-binding">The expected return to player (RTP) for BetCoin ™ Roulette is 97.3%</h4>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the source code of the provably fair algorithm.</a></p>

  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>


</div>
