<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="server-seed" class="col-sm-3 control-label">
            <%=spins.ProofDt1 %>
        </label>
        <div class="col-sm-9">
            <input id="server-seed" type="text" class="form-control" ng-model="serverSeed">
        </div>
    </div>
    <div class="form-group">
        <label for="init-array" class="col-sm-3 control-label">
            <%=spins.ProofDt2 %>
        </label>
        <div class="col-sm-9">
            <input id="init-array" type="text" class="form-control" ng-model="initArray">
        </div>
    </div>
    <div class="form-group">
        <label for="init-hash" class="col-sm-3 control-label">
            <%=spins.ProofDt3 %>
        </label>
        <div class="col-sm-9">
            <div id="init-hash" class="allow-word-wrap-with-break-word padding-top-7">{{testInitialHash}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="init-hash" class="col-sm-3 control-label">
            <%=spins.ProofDt4 %>
        </label>
        <div class="col-sm-9">
            <input id="init-hash" type="text" class="form-control" ng-model="clientSeed">
        </div>
    </div>
    <div class="form-group">
        <label for="init-hash" class="col-sm-3 control-label">
            <%=spins.ProofDt5 %>
        </label>
        <div class="col-sm-9">
            <div id="init-hash" class="allow-word-break-with-break-word padding-top-7">{{testFinalArray}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="verify-fair" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <button id="verify-fair" class="btn btn-default" ng-click="verifyFair()">
                <%=buttons.verify %>
            </button>
            <span ng-show="testFinalArray==finalArray&&testInitialHash==initialHash">
                <%=spins.match %>
            </span>
        </div>
    </div>
</form>
