<% if (locale === "zh_CN") { %>

<h1>BetCoin password reset</h1>
<p>
    Please click <a href="https://<%= WEB_URL %>/password-reset/<%= user.passwordToken %>">here</a> to reset your password or paste the following link into your browser.
</p>
<p>https://<%= WEB_URL %>/password-reset/<%= user.passwordToken %></p>

<% } else { %>

<h1>BetCoin password reset</h1>
<p>
    Please click <a href="https://<%= WEB_URL %>/password-reset/<%= user.passwordToken %>">here</a> to reset your password or paste the following link into your browser.
</p>
<p>https://<%= WEB_URL %>/password-reset/<%= user.passwordToken %></p>

<% } %>
