<div class="tabcontent howtoplay">
    <h1>玩法说明</h1>
    <p class="ng-binding"><b class="ng-binding">财神视频扑克</b>是一个经典的纸牌游戏，允许您使用数字货币比特币下注。这是一个简单而有趣的，大家一起并赢得更多的比特币的玩的方式！</p>
    <br>
    <ol style="padding-left:40px;">
        <li class="ng-binding">登录或注册, 或使用您的BTC钱包地址匿名游戏。</li>
        <br>
        <li class="ng-binding">使用所提供的个人存款地址与基金比特币的游戏余额。
        </li>
        <br>
        <li class="ng-binding">通过使用滑块，平衡按钮，按钮的增量比例，或通过点击下注框选择下注金额。最高下注值可以动态调整。
        </li>
        <br>
        <li class="ng-binding">检查你的进度，并使用位于播放屏幕下方的在游戏中排行榜和最新游戏跟进世界各地的玩家。 
        </li>
        <br>
        <li class="ng-binding">如果你是匿名玩家，您的余额会在闲置30分钟或在关闭浏览器后自动退还给您。
        </li>
        <br>
    </ol>

    <!-- <h4>Pay Table</h4>

    <div data-ng-include data-src="'tpl/paytables.html'"></div> -->

    <h4>赌场视频扑克玩法</h4>
    <ol>
        <li><p>
            使用单一的 52 张纸牌，组成的平常的 52 张牌。
        </p></li>
        <li><p>
            做赌注，然后按“投注”按钮后，游戏会随机从牌堆中上给玩家五张牌。
        </p></li>
        <li><p>
            玩家可以选择哪些卡牌扔掉，哪些卡牌保留。
        </p></li>
        <li><p>
            本场比赛从剩余的卡牌中随机选择卡取代被玩家扔掉的卡。
        </p></li>
        <li><p>
            玩家根据自己的手牌值和发布工资表进行支付。
        </p></li>
    </ol>
    <h4>更高版本玩法</h4>
    <table>
        <tr>
            <td>皇家同花顺</td>
            <td>1000比1</td>
        </tr>
        <tr>
            <td>同花顺</td>
            <td>50比1</td>
        </tr>
        <tr>
            <td>四张相同的牌</td>
            <td>25比1</td>
        </tr>
        <tr>
            <td>满堂红</td>
            <td>6比1</td>
        </tr>
        <tr>
            <td>顺子</td>
            <td>5比1</td>
        </tr>
        <tr>
            <td>相同花色</td>
            <td>4比1</td>
        </tr>
        <tr>
            <td>三张相同的牌</td>
            <td>3比1</td>
        </tr>
        <tr>
            <td>两对</td>
            <td>2比1</td>
        </tr>
        <tr>
            <td>更高版本</td>
            <td>1比1</td>
        </tr>
    </table>
    <h4 class="ng-binding">对玩家来说财神视频扑克的预期收益是多少？ </h4>
    <p class="ng-binding">预期收益为99.54％</p>

    <h4 class="ng-binding">每手最低下注是多少？</h4>
    <p class="ng-binding">最低下注金额为0.000001 BTC</p><p></p>

    <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

    <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

    <p><a target="_blank" href="./js/app/directives/provably-fair.js">点击此处查看用于验证每个游戏的代码</a></p>
    <!-- <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p> -->


    <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
