<table id="paytable">
          <tbody><tr>
            <th class="width-25-pcnt"><%= reels.symbol %></th>
            <th class="width-25-pcnt"><%= reels.multiplier %></th>
            <th class="width-25-pcnt"><%= reels.symbol %></th>
            <th class="width-25-pcnt"><%= reels.multiplier %></th>
          </tr>
          <tr class="first-row">
            <td class="image">
              <img src="./img/sprites/0.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 888<%= reels.x %></p>
                <p class="clearfix">4: 238<%= reels.x %></p>
                <p class="clearfix">3: 88<%= reels.x %></p>
              </div>
            </td>
            <td class="image">
              <img src="./img/sprites/1.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 288<%= reels.x %></p>
                <p class="clearfix">4: 118<%= reels.x %></p>
                <p class="clearfix">3: 55<%= reels.x %></p>
                <p class="clearfix">2: 1<%= reels.x %></p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="./img/sprites/2.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 288<%= reels.x %></p>
                <p class="clearfix">4: 118<%= reels.x %></p>
                <p class="clearfix">3: 55<%= reels.x %></p>
                <p class="clearfix">2: 1<%= reels.x %></p>
              </div>
            </td>
            <td class="image">
              <img src="./img/sprites/3.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 128<%= reels.x %></p>
                <p class="clearfix">4: 88<%= reels.x %></p>
                <p class="clearfix">3: 18<%= reels.x %></p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="./img/sprites/4.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 128<%= reels.x %></p>
                <p class="clearfix">4: 88<%= reels.x %></p>
                <p class="clearfix">3: 18<%= reels.x %></p>
              </div>
              </div>
            </td>
            <td class="image">
              <img src="./img/sprites/5.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 58<%= reels.x %></p>
                <p class="clearfix">4: 25<%= reels.x %></p>
                <p class="clearfix">3: 8<%= reels.x %></p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="./img/sprites/6.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 58<%= reels.x %></p>
                <p class="clearfix">4: 25<%= reels.x %></p>
                <p class="clearfix">3: 8<%= reels.x %></p>
              </div>
            </td>
            <td class="image">
              <img src="./img/sprites/7.png">
            </td>
            <td class="price-box-wrapper">
              <div class="price-box price-box-youwin">
                <p class="clearfix">5: 58<%= reels.x %></p>
                <p class="clearfix">4: 25<%= reels.x %></p>
                <p class="clearfix">3: 8<%= reels.x %></p>
              </div>
            </td>
          </tr>
        </tbody></table>
