<div class="tabcontent">
  <h1>How to Play</h1>
  <p class="ng-binding"><b class="ng-binding">BetCoin ™ Reels</b> is a classic slot game that allows you to wager with the digital currency Bitcoin. It is an easy and fun way to play with and win more Bitcoins!</p>
  <br>
  <ol class="padding-left-40">
    <li class="ng-binding"><b class="ng-binding">Login or Register</b>, or play anonymously with your BTC wallet address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Fund</b> your playing balance with Bitcoins using the provided personal deposit address</li>
    <br>
    <li class="ng-binding"><b class="ng-binding">Select wager</b> amount by using either the slider, percentage of balance buttons, incremental buttons, or by clicking on the wager box.  The maximum wager value is adjusted dynamically.</li>
    <br>
    <li class="ng-binding">Check your progress and follow players around the world using the in-game Leaderboard and Recent Spins tabs located below the playing screen.</li>
    <br>
    <li class="ng-binding">If you play anonymously, your balance will automatically be returned to you after 30 minutes of inactivity or upon closing your browser.</li>
    <br>
  </ol>

<h4>Pay Table</h4>

<div data-ng-include data-src="'tpl/paytables.html'"></div>

  <h4>Rules and warnings</h4>
  <ol>
  <li><p>All prizes are for combinations of a kind.</p></li>
  <li><p>All prizes are for combinations left to right, except scatters.</p></li>
  <li><p>All prizes are on selected lines, except scatters.</p></li>
  <li><p>Scatter symbols pay at any position on screen.</p></li>
  <li><p>Only one scatter per reel is considered.</p></li>
  <li><p>Highest win only paid per selected line.</p></li>
  <li><p>Tampering and other fraudulent actions void all pays and plays.</p></li>
  </ol>


  <h4>How is the outcome of each spin calculated?</h4>
  <ol>
  <li>Your wager is split into 5 parts, one for each pay line</li>
  <li>Once the outcome of the game is decided using our provably fair algorithm, for each line that has a winning slot combination, you receive a payout (see the payout table below) for that particular line. For example, if you bet 5 BTC, and your game outcome is 5 Diamond Cups on the middle pay line, you would receive 1 BTC (the wager for that pay line) times the payout amount for the combination, in this case: 1 BTC x 888 = 888 BTC</li>
  </ol>

  <h4>How many possible combinations are there?</h4>
  <p></p>
  <ol>
  <li>There are 32^5 or 33,554,432 possible combinations for the center pay line</li>
  <li>There are 5 reels, each with 32 symbols, which are a carefully calculated combination of the 8 available symbols.</li>
  <li>The order and position of the various symbols does not change the outcome of the game, except in the case of the Ruby, or scatter symbol. With the scatter symbol, the positions are placed carefully to make correct odds calculations</li>
  <li>Our provably fair algorithm randomly selects the symbols on the center line only, and for each Reel individually. The top and bottom lines are a result of the random positioning of the 32 elements.</li>
  <li>The reels graphics DO NOT show the symbols in the order that they appear on the Reel, until the reels begin to slow. This is only done to keep performance high and to enhance the animation effect.</li>
  </ol>

  <h4 class="ng-binding">What is the expected return to player for BetCoin ™ Reels?</h4>
  <p class="ng-binding">The return to player is approximately 98.35%.</p>

  <h4 class="ng-binding">Is there a minimum wager per spin?</h4>
  <p class="ng-binding">The minimum bet is 0.00000100 BTC</p><p></p>

  <h4>Reel symbols</h4>

  <div data-ng-include data-src="'tpl/reel-layout.html'"></div>
  <h4>How is the outcome provably fair?</h4>
  <ol>
  <li>Before each spin, the server generates a random matrix using a SHA256 hash, which represents the position of each reel. This matrix is then hashed using SHA256 and made public before each spin occurs. For example, the SHA256 hash of your game could be: "0ca1cb6b7e9414ca575b17218e35073e35ba9d920407132c0c829371855a5957".</li>
  <li>A client seed is randomly generated by the game, which you can change to affect the outcome of the game.</li>
  <li>When you press "Spin" the client seed is sent to the server and the reels are re-shuffled by generating a SHA512 hash of the server seed and client seed. One SHA512 hash is generated for each of the 5 reels, and then the first byte of the resulting HMAC hash is used to select a random, provably fair number between 0 and 31, which corresponds with one of the positions on each reel.</li>
  <li>After a spin is completed, the server seed, previously shown as a SHA256 hash, is revealed to you. You can then use this information to prove that the server seed was not changed since it was created, and that the client seed and original server seed were indeed used to generate the outcome of the game.</li>
  </ol>

  <div data-ng-include data-src="'tpl/fair-intro-<%= fileSuffix %>.html'"></div>

  <provably-fair server-seed="serverSeed" client-seed="clientSeed"></provably-fair>

  <p><a target="_blank" href="./js/app/directives/provably-fair.js">Click here to view the code used to verify each game</a></p>
  <p><a target="_blank" href="./calc-odds.js">Click here to view the full odds and house edge calculations.</a></p>


  <div data-ng-include data-src="'tpl/faq-<%= fileSuffix %>.html'"></div>
</div>
