<div class="row betcoin-header">
    <div class="col-xs-12 col-sm-4 panel panel-default header">
        <div class="row">
            <h3 class="text-center center-block margin-top-10 padding-0 smallcaps shadow-red">
                <%- compare.compare_before_play %></h3>
            <table class="comparison">
                <tr>
                    <th class="text-left"><%- compare.key_features %></th>
                    <th class="color-gold-dark"><%- compare.common_physical_casino %></th>
                    <th class="color-gold-dark"><%- compare.regular_online_casino %></th>
                    <th class="betcoin"><%- compare.betcoin_network %></th>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.provably_fair %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.low_house_edge %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.secure_funds %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.wide_bet_range %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.instant_transactions %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.withdraw_globally %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.zero_fees %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
                <tr>
                    <td class="leftcol"><a class="compare-info"><%- compare.game_variety %></a></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/redx.png" class="center-block" /></td>
                    <td><img src="./img/check.png" class="center-block" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 panel panel-default header text-center cursor-pointer" data-toggle="modal" data-target="#signupModal">
        <h2 class="margin-top-10 padding-0 smallcaps shadow-red"><%- home.network_battlecry %></h2>
        <div class="caishen"><img src="./img/caishen.png" class="center-block"/></div>
        <div><img class="center-block home-betcoin-word" src="<%- nav_logo %>"/></div>

    </div>
    <div class="col-xs-12 col-sm-4 panel panel-default text-center header">

        <h2 class="smallcaps padding-0 margin-top-10 shadow-red"><%- most_advanced_network %></h2>

        <div class="visible-lg visible-md hidden-sm hidden-xs">
            <h2 class="smallcaps"><%- free_no_deposit_bonus %></h2>
            <h3 class="smallcaps margin-top-5"><%- text.usps_d %></h3>
            <h3 class="smallcaps margin-top-5"><%- text.usps_e %></h3>
            <h3 class="smallcaps margin-top-5"><%- text.usps_f %></h3>
        </div>
        <div class="hidden-lg hidden-md visible-sm visible-xs">
            <h3 class="smallcaps"><%- free_no_deposit_bonus %></h3>
            <div>
                <h5 class="smallcaps"><%- text.usps_d %></h5>
                <h5 class="smallcaps"><%- text.usps_e %></h5>
                <h5 class="smallcaps"><%- text.usps_f %></h5>
            </div>
        </div>
        <button   class="btn-lg btn-flashy btn-spin font-size-30" data-toggle="modal" data-target="#signupModal">
            <%- join_now %>
        </button>
        <bc-game-counters></bc-game-counters>
        <div style="height:50px;" class="margin-top-5">
            <img src="./img/iconbar/bitcoin44.png" />
            <img src="./img/iconbar/dodgecoin44.png" />
            <img src="./img/iconbar/litecoin44.png" />
            <img src="./img/iconbar/peercoin44.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 panel panel-default headerb cursor-pointer" data-toggle="modal" data-target="#jadeModal">
        <h2 class="margin-top-10 shadow-red"><%- jadeclub.title %></h2>
        <h4 class="jade_header_a"><%- jadeclub.header_a %></h4>
        <p><%- jadeclub.info %></p>
        <h5 class="margin-top-15"><%- jadeclub.header_b %></h5>
        <h3 class="margin-top-0"><%- jadeclub.header_c %></h3>
        <small><%- jadeclub.invitation %></small>
    </div>
    <div ng-controller="JackpotsController"
         class="col-xs-12 col-sm-4 panel panel-default headerb text-center">
        <h2 class="margin-top-10 shadow-red"><% jackpots.title %></h2>
        <div class="jackpots row">
            <div class="col-xs-12"
                 ng-repeat-start="(index, jackpot) in jackpots">
                <h3 ng-if="index==0" class="margin-top-5"><%- jackpots.vip %></h3>
                <h3 ng-if="index==1" class="margin-top-5"><%- jackpots.jade %></h3>
            </div>
            <div class="col-xs-12 text-center amount-label"><%- jackpots.current_value %></div>
            <div class="col-xs-4 col-xs-offset-2 amount-numbers">
                <bc-countup symbol="{{'bitcoin'|cryptosymbol}}"
                            filter="cryptovalue"
                            decimals="4"
                            style="font-family: monospace"
                            zeropad="jackpot.value.toBitcoin().toString().split('.')[0].length"
                            value="jackpot.wagered"></bc-countup>
            </div>
            <div class="col-xs-4 amount-numbers">
                <bc-countup symbol="{{lang|fiatsymbol}}"
                            filter="paddednumber"
                            decimals="0"
                            style="font-family: monospace"
                            zeropad="jackpot.fiatValue.toString().split('.')[0].length"
                            value="jackpot.fiatWagered" dp='0'></bc-countup>
            </div>

            <div class="col-xs-2"></div>
            <div class="col-xs-12 text-center amount-label"><%- jackpots.must_award_by %></div>
            <div class="col-xs-4 col-xs-offset-2 amount-numbers"
                 style="font-family: monospace">{{'bitcoin'|cryptosymbol}}{{jackpot.value|cryptovalue:4:jackpot.value.toBitcoin().toString().split('.')[0].length}}</div>
            <div class="col-xs-4 amount-numbers"
                 style="font-family: monospace"
                 ng-repeat-end>{{lang|fiatsymbol}}{{jackpot.fiatValue|paddednumber:0:jackpot.fiatValue.toString().split('.')[0].length}}</div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 panel panel-default headerb">
        <h2 class="margin-top-10 shadow-red"><%- testimonials.title %></h2>
        <div class="testimonials">
            <div><%- testimonials.first %></div>
            <div><i><%- testimonials.first_name %></i></div>

            <div class="margin-top-10"><%- testimonials.second %></div>
            <div><i><%- testimonials.second_name %></i></div>
            <div class="margin-top-10"><%- testimonials.third %></div>
            <div><i><%- testimonials.third_name %></i></div>
            <div class="margin-top-10"><%- testimonials.fourth %></div>
            <div><i><%- testimonials.fourth_name %></i></div>
        </div>
    </div>

    <div class="flash-container">
        <span class="flash"></span>
    </div>
</div>
