<form ng-submit="rangeSubmit()">
    <div class="form-group">
        <select class="form-control" ng-model="rangeType">
            <option value="time"><%= text.time_range %></option>
            <option value="date"><%= text.date_range %></option>
        </select>
    </div>
    <div class="form-group" ng-show="rangeType == 'time'">
        <input type="number" class="form-control" ng-model="timeValue">
        <select class="form-control" ng-model="timeUnit">
            <option value="minutes"><%= text.minutes %></option>
            <option value="hours"><%= text.hours %></option>
            <option value="days"><%= text.days %></option>
            <option value="weeks"><%= text.weeks %></option>
            <option value="months"><%= text.months %></option>
        </select>
    </div>
    <div class="form-group" ng-show="rangeType == 'date'">
        <input ui-date class="form-control" ng-model="startDate">
        <input ui-date class="form-control" ng-model="endDate">
    </div>
    <input type="submit" class="btn btn-default" value="<%= buttons.submit %>">
</form>
